sbml-level-1/version-1/final/old-drafts/version-2/sbml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xsd:schema PUBLIC "-//W3C//DTD XMLSCHEMA 19991216//EN" "" [
	<!ENTITY % p 'xsd:'>
	<!ENTITY % s ':xsd'>
]>
<xsd:schema xmlns:xsd="http://www.w3.org/1999/XMLSchema">
	<xsd:annotation>
		<xsd:documentation>
     File name   : sbml.xsd
     Description : XML Schema for the Systems Biology Markup Language
     Organization: Caltech ERATO Kitano
     Version     : 1
     Modified    : 2000-08-07 13:51 PDT
  		</xsd:documentation>
	</xsd:annotation>
	<!-- Name -->
	<xsd:simpleType base="xsd:string" name="Name">
		<xsd:pattern value="(_|[a-z]|[A-Z])(_|[a-z]|[A-Z]|[0-9])*"/>
	</xsd:simpleType>
	<!-- Identifed -->
	<xsd:complexType name="Identified" abstract="true">
		<xsd:element name="notes" maxOccurs="1" minOccurs="0">
			<xsd:complexType>
				<xsd:any namespace="http://www.w3.org/1999/xhtml" maxOccurs="unbounded" minOccurs="1" processContents="skip"/>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="annotation" maxOccurs="1" minOccurs="0">
			<xsd:complexType>
				<xsd:any maxOccurs="*" minOccurs="1" processContents="skip"/>
			</xsd:complexType>
		</xsd:element>
		<xsd:attribute name="id" type="xsd:ID" use="optional"/>
		<xsd:attribute name="simpleNotes" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<!-- listOfParameters -->
	<xsd:element name="listOfParameters">
		<xsd:complexType>
			<xsd:element name="parameter" type="Parameter" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:complexType>
	</xsd:element>
	<!--listOfUnits-->
		<xsd:element name="listOfUnits">
			<xsd:complexType>
				<xsd:element name="unit" type="Unit" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:complexType>
		</xsd:element>
	<!-- specieReference -->
	<xsd:element name="specieReference" type="SpecieReference" minOccurs="1" maxOccurs="unbounded"/>
	<!-- Model -->
	<xsd:complexType name="Model" base="Identified" derivedBy="extension">
		<xsd:element name="listOfCompartments" minOccurs="1" maxOccurs="1">
			<xsd:complexType>
				<xsd:element name="compartment" type="Compartment" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="listOfGeometries" minOccurs="0" maxOccurs="1">
			<xsd:complexType>
				<xsd:element name="geometry" type="Geometry" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="listOfMappings" minOccurs="0" maxOccurs="1">
			<xsd:complexType>
				<xsd:element name="mapping" type="Mapping" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="listOfSpecies" minOccurs="1" maxOccurs="1">
			<xsd:complexType>
				<xsd:element name="specie" type="Specie" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:complexType>
		</xsd:element>
		<xsd:element ref="listOfParameters" minOccurs="0" maxOccurs="1"/>
		<xsd:element name="listOfRules" minOccurs="0" maxOccurs="1">
			<xsd:complexType>
				<xsd:choice maxOccurs = "unbounded" minOccurs="1" >
					<xsd:element name="compartmentRule" type="CompartmentRule" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="specieRule" type="SpecieRule" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="parameterRule" type="ParameterRule" minOccurs="0" maxOccurs="1"/>
				</xsd:choice>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="listOfReactions" minOccurs="1" maxOccurs="1">
			<xsd:complexType>
				<xsd:element name="reaction" type="Reaction" minOccurs="1" maxOccurs="unbounded">
					<!--<xsd:unique name="parameters">
						<xsd:selector>listOfParameters/parameter</xsd:selector>
						<xsd:field>@name</xsd:field>
					</xsd:unique>-->
				</xsd:element>
			</xsd:complexType>
		</xsd:element>
		<xsd:attribute name="name" type="Name" use="optional"/>
		<xsd:attribute name="substanceScale" type="xsd:integer" use="default" value="0"/>
		<xsd:attribute name="timeScale" type="xsd:integer" use="default" value="0"/>
		<xsd:attribute name="volumeScale" type="xsd:integer" use="default" value="0"/>
		<xsd:attribute name="lengthScale" type="xsd:integer" use="default" value="-6"/>
		<xsd:attribute name="substanceIsNumberOfMolecules" type="xsd:boolean" use="default" value="false"/>
	</xsd:complexType>
	<!-- Compartment -->
	<xsd:complexType name="Compartment" base="Identified" derivedBy="extension">
		<xsd:attribute name="name" type="Name" use="required"/>
		<xsd:attribute name="volume" type="xsd:float" use="default" value="1"/>
	</xsd:complexType>
	<!-- Geometry -->
	<xsd:complexType name="Geometry" base="Identified" derivedBy="extension">
		<xsd:element name="listOfPoints" minOccurs="0" maxOccurs="1">
			<xsd:complexType>
				<xsd:element name="point" type="Point" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:complexType>
		</xsd:element>
		<xsd:attribute name="name" type="Name" use="required"/>
		<xsd:attribute name="length" type="xsd:float" use="optional"/>
		<xsd:attribute name="surfaceArea" type="xsd:float" use="optional"/>
		<xsd:attribute name="volume" type="xsd:float" use="optional"/>
		<xsd:attribute name="lengthScale" type="xsd:integer" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="Point" base="Identified" derivedBy="extension">
		<xsd:attribute name="x" type="xsd:float" use="required"/>
		<xsd:attribute name="y" type="xsd:float" use="required"/>
	</xsd:complexType>
	<!--Mapping-->
	<xsd:complexType name="Mapping" base="Identified" derivedBy="extension">
		<xsd:attribute name="compartment" type="Name" use="required"/>
		<xsd:attribute name="geometry" type="Name" use="required"/>
	</xsd:complexType>
	<!-- Specie -->
	<xsd:complexType name="Specie" base="Identified" derivedBy="extension">
		<xsd:attribute name="name" type="Name" use="required"/>
		<xsd:attribute name="compartment" type="Name" use="required"/>
		<xsd:attribute name="initialAmount" type="xsd:float" use="required"/>
		<xsd:attributeGroup ref="substanceUnits"/>
		<xsd:attribute name="boundaryCondition" type="xsd:boolean" use="default" value="false"/>
		<xsd:attribute name="charge" type="xsd:integer" use="optional"/>
	</xsd:complexType>
	<!-- Parameter -->
	<xsd:complexType name="Parameter" base="Identified" derivedBy="extension">
		<xsd:element ref="listOfUnits" minOccurs="0" maxOccurs="1"/>
		<xsd:attribute name="value" type="xsd:float" use="required"/>
		<xsd:attribute name="scale" type="xsd:integer" use="default" value="0"/>
		<xsd:attribute name="name" type="Name" use="required"/>
	</xsd:complexType>
	<xsd:simpleType base="xsd:string" name="UnitKind">
		<xsd:enumeration value="mole"/>
		<xsd:enumeration value="litre"/>
		<xsd:enumeration value="second"/>
		<xsd:enumeration value="metre"/>
		<xsd:enumeration value="gram"/>
		<xsd:enumeration value="ampere"/>
		<xsd:enumeration value="kelvin"/>
		<xsd:enumeration value="centigrade"/>
		<xsd:enumeration value="candela"/>
		<xsd:enumeration value="radian"/>
		<xsd:enumeration value="streadian"/>
		<xsd:enumeration value="hertz"/>
		<xsd:enumeration value="newton"/>
		<xsd:enumeration value="joule"/>
		<xsd:enumeration value="calories"/>
		<xsd:enumeration value="watt"/>
		<xsd:enumeration value="coulomb"/>
		<xsd:enumeration value="volt"/>
		<xsd:enumeration value="farad"/>
		<xsd:enumeration value="ohm"/>
		<xsd:enumeration value="weber"/>
		<xsd:enumeration value="tesla"/>
		<xsd:enumeration value="henry"/>
		<xsd:enumeration value="lumen"/>
		<xsd:enumeration value="lux"/>
		<xsd:enumeration value="pascal"/>
		<xsd:enumeration value="siemens"/>
		<xsd:enumeration value="becquerel"/>
		<xsd:enumeration value="gray"/>
	</xsd:simpleType>
	<xsd:complexType name="Unit" base="Identified" derivedBy="extension">
		<xsd:attribute name="type" type="UnitKind" use="required"/>
		<xsd:attribute name="power" type="xsd:integer" use="default" value="1"/>
	</xsd:complexType>
	<!-- Rule -->
	<xsd:complexType name="Rule" base="Identified" derivedBy="extension" abstract="true">
		<xsd:attribute name="formula" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="CompartmentRule" base="Rule" derivedBy="extension">
		<xsd:attribute name="compartment" type="Name" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="SpecieRule" base="Rule" derivedBy="extension">
		<xsd:attribute name="species" type="Name" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ParameterRule" base="Rule" derivedBy="extension">
		<xsd:element ref="listOfUnits" minOccurs="0" maxOccurs="1"/>
		<xsd:attribute name="name" type="Name" use="required"/>
		<xsd:attribute name="scale" type="xsd:integer" use="default" value="0"/>
	</xsd:complexType>
	<!-- Reaction -->
	<xsd:complexType name="Reaction" base="Identified" derivedBy="extension">
		<xsd:element name="listOfReactants" minOccurs="1" maxOccurs="1">
			<xsd:complexType>
				<xsd:element ref="specieReference" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="listOfProducts" minOccurs="1" maxOccurs="1">
			<xsd:complexType>
				<xsd:element ref="specieReference" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:complexType>
		</xsd:element>
		<xsd:element name="kineticLaw" type="KineticLaw" minOccurs="0" maxOccurs="1"/>
		<xsd:attribute name="name" type="Name" use="required"/>
		<xsd:attribute name="reversible" type="xsd:boolean" use="default" value="false"/>
	</xsd:complexType>
	<xsd:complexType name="KineticLaw" base="Identified" derivedBy="extension">
		<xsd:element ref="listOfParameters" minOccurs="0" maxOccurs="1"/>
		<xsd:attribute name="formula" type="xsd:string" use="required"/>
		<xsd:attributeGroup ref="substanceUnits"/>
		<xsd:attribute name="timeScale" type="xsd:integer" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="SpecieReference" base="Identified" derivedBy="extension">
		<xsd:attribute name="specie" type="xsd:string" use="required"/>
		<xsd:attribute name="stoichiometry" type="xsd:integer" use="default" value="1"/>
		<xsd:attribute name="denominator" type="xsd:integer" use="default" value="1"/>
	</xsd:complexType>
	<!-- substanceUnits -->
	<xsd:attributeGroup name="substanceUnits">
		<xsd:attribute name="substanceScale" type="xsd:integer" use="optional"/>
		<xsd:attribute name="substanceIsNumberOfMolecules" type="xsd:boolean" use="optional"/>
	</xsd:attributeGroup>
	<!-- Top-level elements allowed in an sbml document. -->
	<xsd:complexType name="sbmlDocument">
		<xsd:element name="model" minOccurs="1" maxOccurs="1" type="Model">
			<!--<xsd:unique name="compartments">
				<xsd:selector>listOfComparments/compartment</xsd:selector>
				<xsd:field>@name</xsd:field>
			</xsd:unique>
			<xsd:unique name="geometries">
				<xsd:selector>listOfGeometries/geometry</xsd:selector>
				<xsd:field>@name</xsd:field>
			</xsd:unique>
			<xsd:unique name="mappings">
				<xsd:selector>listOfMappings/mapping</xsd:selector>
				<xsd:field>@name</xsd:field>
			</xsd:unique>
			<xsd:unique name="species">
				<xsd:selector>listOfSpecies/specie</xsd:selector>
				<xsd:field>@name</xsd:field>
			</xsd:unique>
			<xsd:unique name="parameters">
				<xsd:selector>listOfParameters/parameter</xsd:selector>
				<xsd:field>@name</xsd:field>
			</xsd:unique>
			<xsd:unique name="rules">
				<xsd:selector>listOfRules/rule</xsd:selector>
				<xsd:field>@name</xsd:field>
			</xsd:unique>
			<xsd:unique name="reactions">
				<xsd:selector>listOfReactions/reaction</xsd:selector>
				<xsd:field>@name</xsd:field>
			</xsd:unique>
			<xsd:unique name="specieReference">
				<xsd:selector>listOfReactions/reaction/*/specieReference</xsd:selector>
				<xsd:field>@name</xsd:field>
			</xsd:unique>
			<xsd:unique name="point">
				<xsd:selector>listOfGeometries/geometry/listOfPoints/points</xsd:selector>
				<xsd:field>@name</xsd:field>
			</xsd:unique>
			<xsd:unique name="kineticLaw">
				<xsd:selector>listOfReactions/reaction/kineticLaw</xsd:selector>
				<xsd:field>@name</xsd:field>
			</xsd:unique>
			<xsd:unique name="mapping">
				<xsd:selector>listOfMappings/mapping</xsd:selector>
				<xsd:field>@name</xsd:field>
			</xsd:unique>
			<xsd:unique name="globalSymbols">
				<xsd:selector>*/*[self::compartment or self::parameter or self::species or self::parameterRule]</xsd:selector>
				<xsd:field>@name</xsd:field>
			</xsd:unique>
			<xsd:keyref name="mappingToCompartment" refer="compartments">
				<xsd:selector>listOfMappings/mapping</xsd:selector>
				<xsd:field>@compartment</xsd:field>
			</xsd:keyref>
			<xsd:keyref name="mappingToGeometry" refer="geometries">
				<xsd:selector>listOfMappings/mapping</xsd:selector>
				<xsd:field>@geometry</xsd:field>
			</xsd:keyref>
			<xsd:keyref name="specieToCompartment" refer="compartments">
				<xsd:selector>listOfSpecies/specie</xsd:selector>
				<xsd:field>@compartment</xsd:field>
			</xsd:keyref>
			<xsd:keyref name="specieReferenceToSpecie" refer="species">
				<xsd:selector>listOfReactions/reaction/*/specieReference</xsd:selector>
				<xsd:field>@specie</xsd:field>
			<xsd:keyref name="specieRuleToSpecie" refer="species">
				<xsd:selector>llistOfRules/specieRule</xsd:selector>
				<xsd:field>@specie</xsd:field>
			</xsd:keyref>
			<xsd:keyref name="compartmentRuleToComparment" refer="compartment">
				<xsd:selector>llistOfRules/compartmentRule</xsd:selector>
				<xsd:field>@compartment</xsd:field>
			</xsd:keyref>
			</xsd:keyref>-->
		</xsd:element>
		<xsd:attribute name="xmlns"/>
		<xsd:attribute name="version" type="xsd:positiveInteger" use="required"/>
	</xsd:complexType>
	<xsd:element name="sbml" type="sbml:sbmlDocument" minOccurs="1" maxOccurs="1"/>
	<!-- The end. -->
</xsd:schema>
