RelaxNG/sbml-render/sbml-render.rng

<?xml version="1.0" encoding="UTF-8"?>

<!-- NOTICE * NOTICE * NOTICE * NOTICE * NOTICE * NOTICE * NOTICE
  
  This is not a standalone schema; it is designed with the
  assumption that it is included by a parent schema.  The
  parent schema must define the core SBML Level 3 constructs
  and data types.  Please see the file ../sbml.rng and the
  information written at http://sbml.org/RNG_validation
-->

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:render="http://www.sbml.org/sbml/level3/version1/render/version1"
  ns="http://www.sbml.org/sbml/level3/version1/render/version1"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">


  <!-- The following is the type definition for the top-level element in an SBML document.-->

  <define name="sbml.datatype" combine="interleave">
    <attribute name="render:required">
      <data type="boolean"/>
    </attribute>
  </define>



  <!-- Definition of primitive graphics
-->
  <define name="transformation.datatype" combine="interleave">
    <ref name="SBase.datatype"/>
    <optional>
      <attribute name="render:name">
        <data type="string"/>
      </attribute>
    </optional>
  </define>

  <define name="transformation2D.datatype" combine="interleave">
    <ref name="transformation.datatype"/>
    <optional>
      <attribute name="render:transform">
        <data type="string"/>
      </attribute>
    </optional>
  </define>

  <define name="graphicalPrimitive1D.datatype" combine="interleave">
    <ref name="transformation2D.datatype"/>
    <optional>
      <attribute name="render:id">
        <ref name="SId.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="render:stroke">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="render:stroke-width">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="render:stroke-dasharray">
        <data type="string"/>
      </attribute>
    </optional>
  </define>

  <define name="graphicalPrimitive2D.datatype" combine="interleave">
    <ref name="graphicalPrimitive1D.datatype"/>
    <optional>
      <attribute name="render:fill">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="render:fill-rule">
        <data type="string"/>
      </attribute>
    </optional>
  </define>

  <!-- Definition of shapes -->
  <define name="xsiRenderType.simpleType">
    <choice>
      <value type="string">RenderPoint</value>
      <value type="string">RenderCubicBezier</value>
    </choice>
  </define>


  <define name="renderPoint.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="xsi:type">
        <ref name="xsiRenderType.simpleType"/>
      </attribute>

      <attribute name="render:x">
        <data type="string"/>
      </attribute>
      <attribute name="render:y">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="render:z">
          <data type="string"/>
        </attribute>
      </optional>
    </interleave>
  </define>

  <define name="renderCubicBezier.datatype" combine="interleave">
    <interleave>
      <ref name="renderPoint.datatype"/>
      <attribute name="render:basepoint1_x">
        <data type="string"/>
      </attribute>
      <attribute name="render:basepoint1_y">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="render:basepoint1_z">
          <data type="string"/>
        </attribute>
      </optional>
      <attribute name="render:basepoint2_x">
        <data type="string"/>
      </attribute>
      <attribute name="render:basepoint2_y">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="render:basepoint2_z">
          <data type="string"/>
        </attribute>
      </optional>
    </interleave>
  </define>



  <define name="listOfElements.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>

        <element name="element">
          <choice>
            <ref name="renderPoint.datatype"/>

            <ref name="renderCubicBezier.datatype"/>
          </choice>
        </element>

      </oneOrMore>
    </interleave>
  </define>



  <define name="ellipse.datatype" combine="interleave">
    <interleave>
      <ref name="graphicalPrimitive2D.datatype"/>
      <attribute name="render:cx">
        <data type="string"/>
      </attribute>
      <attribute name="render:cy">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="render:cz">
          <data type="string"/>
        </attribute>
      </optional>
      <attribute name="render:rx">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="render:ry">
          <data type="string"/>
        </attribute>
      </optional>
    </interleave>
  </define>

  <define name="rectangle.datatype" combine="interleave">
    <interleave>
      <ref name="graphicalPrimitive2D.datatype"/>
      <attribute name="render:x">
        <data type="string"/>
      </attribute>
      <attribute name="render:y">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="render:z">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:width">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:height">
          <data type="string"/>
        </attribute>
      </optional>
      <attribute name="render:rx">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="render:ry">
          <data type="string"/>
        </attribute>
      </optional>
    </interleave>
  </define>

  <define name="image.datatype" combine="interleave">
    <interleave>
      <ref name="transformation2D.datatype"/>
      <optional>
        <attribute name="render:id">
          <data type="string"/>
        </attribute>
      </optional>
      <attribute name="render:x">
        <data type="string"/>
      </attribute>
      <attribute name="render:y">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="render:z">
          <data type="string"/>
        </attribute>
      </optional>
      <attribute name="render:width">
        <data type="string"/>
      </attribute>
      <attribute name="render:height">
        <data type="string"/>
      </attribute>
      <attribute name="render:href">
        <data type="string"/>
      </attribute>
    </interleave>
  </define>

  <define name="text.datatype" combine="interleave">
    <interleave>
      <ref name="graphicalPrimitive1D.datatype"/>

      <attribute name="render:x">
        <data type="string"/>
      </attribute>
      <attribute name="render:y">
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="render:z">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:font-family">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:font-size">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:font-weight">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:font-style">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:text-anchor">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:vtext-anchor">
          <data type="string"/>
        </attribute>
      </optional>

      <text/>
    </interleave>
  </define>

  <define name="polygon.datatype" combine="interleave">
    <interleave>
      <ref name="graphicalPrimitive2D.datatype"/>
      <element name="listOfElements">
        <ref name="listOfElements.datatype"/>
      </element>
    </interleave>
  </define>

  <define name="renderCurve.datatype" combine="interleave">
    <interleave>
      <ref name="graphicalPrimitive1D.datatype"/>
      <optional>
        <attribute name="render:startHead">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:endHead">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>
      <element name="listOfElements">
        <ref name="listOfElements.datatype"/>
      </element>
    </interleave>
  </define>
  <define name="renderGroup.datatype" combine="interleave">
    <interleave>
      <ref name="graphicalPrimitive2D.datatype"/>
      <optional>
        <attribute name="render:startHead">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:endHead">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:font-family">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:font-size">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:font-weight">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:font-style">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:text-anchor">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:vtext-anchor">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <ref name="listOfDrawableObjects.datatype"/>
      </optional>
    </interleave>
  </define>

  <define name="listOfDrawableObjects.datatype" combine="choice">
    <oneOrMore>
      <choice>
        <element name="g">
          <ref name="renderGroup.datatype"/>
        </element>
        <element name="curve">
          <ref name="renderCurve.datatype"/>
        </element>
        <element name="polygon">
          <ref name="polygon.datatype"/>
        </element>
        <element name="rectangle">
          <ref name="rectangle.datatype"/>
        </element>
        <element name="ellipse">
          <ref name="ellipse.datatype"/>
        </element>
        <element name="text">
          <ref name="text.datatype"/>
        </element>
        <element name="image">
          <ref name="image.datatype"/>
        </element>
      </choice>
    </oneOrMore>
  </define>


  <!-- Definition of colorDefinition -->
  <define name="colorDefinition.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <attribute name="render:id">
          <ref name="SId.simpleType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:name">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:value">
          <data type="string"/>
        </attribute>
      </optional>
    </interleave>
  </define>

  <define name="listOfColorDefinitions.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="colorDefinition">
          <ref name="colorDefinition.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <!-- Definition of GradientDefinition -->

  <define name="spreadMethod.simpleType">
    <choice>
      <value type="string">pad</value>
      <value type="string">reflect</value>
      <value type="string">repeat</value>
    </choice>
  </define>

  <define name="stop.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="render:offset">
        <data type="string"/>
      </attribute>
      <attribute name="render:stop-color">
        <data type="string"/>
      </attribute>
    </interleave>
  </define>

  <define name="gradientBase.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="render:id" datatypeLibrary="">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="render:name">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:spreadMethod">
          <ref name="spreadMethod.simpleType"/>
        </attribute>
      </optional>
      <oneOrMore>
        <element name="stop">
          <ref name="stop.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="linearGradient.datatype" combine="interleave">
    <interleave>
      <ref name="gradientBase.datatype"/>
      <optional>
        <attribute name="render:x1">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:y1">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:z1">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:x2">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:y2">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:z2">
          <data type="string"/>
        </attribute>
      </optional>

    </interleave>
  </define>

  <define name="radialGradient.datatype" combine="interleave">
    <interleave>
      <ref name="gradientBase.datatype"/>
      <optional>
        <attribute name="render:cx">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:cy">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:cz">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:r">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:fx">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:fy">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:fz">
          <data type="string"/>
        </attribute>
      </optional>
    </interleave>
  </define>

  <define name="listOfGradientDefinitions.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <choice>
          <element name="linearGradient">
            <ref name="linearGradient.datatype"/>
          </element>
          <element name="radialGradient">
            <ref name="radialGradient.datatype"/>
          </element>
        </choice>
      </oneOrMore>
    </interleave>
  </define>




  <!-- Definition of Style -->
  <define name="style.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <attribute name="render:id" datatypeLibrary="">
          <ref name="SId.simpleType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:name">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:roleList">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:typeList">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <element name="g">
          <ref name="renderGroup.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="localStyle.datatype" combine="interleave">
    <interleave>
      <ref name="style.datatype"/>
      <optional>
        <attribute name="render:idList">
          <data type="string"/>
        </attribute>
      </optional>
    </interleave>
  </define>

  <define name="listOfLocalStyles.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="style">
          <ref name="localStyle.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="globalStyle.datatype" combine="interleave">
    <ref name="style.datatype"/>
  </define>

  <define name="listOfGlobalStyles.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="style">
          <ref name="globalStyle.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <!-- Definition of LineEndings -->
  <define name="lineEnding.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="render:id" datatypeLibrary="">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="render:enableRotationalMapping">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <element name="g">
          <ref name="renderGroup.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="boundingBox" ns="http://www.sbml.org/sbml/level3/version1/layout/version1">
          <ref name="boundingBox.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="listOfLineEndings.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="lineEnding">
          <ref name="lineEnding.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <!-- Definition of Render Information -->
  <define name="renderInformationBase.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="render:id">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="render:name">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:programName">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:programVersion">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:referenceRenderInformation">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="render:backgroundColor">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <element name="listOfColorDefinitions">
          <ref name="listOfColorDefinitions.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfGradientDefinitions">
          <ref name="listOfGradientDefinitions.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfLineEndings">
          <ref name="listOfLineEndings.datatype"/>
        </element>
      </optional>

    </interleave>
  </define>

  <define name="localRenderInformation.datatype" combine="interleave">
    <interleave>
      <ref name="renderInformationBase.datatype"/>
      <optional>
        <element name="listOfStyles">
          <ref name="listOfLocalStyles.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="listOfLocalRenderInformation.datatype" combine="interleave">
    <interleave>
      <attribute name="render:versionMajor">
        <data type="nonNegativeInteger"/>
      </attribute>
      <attribute name="render:versionMinor">
        <data type="nonNegativeInteger"/>
      </attribute>
      <oneOrMore>
        <element name="renderInformation">
          <ref name="localRenderInformation.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="globalRenderInformation.datatype" combine="interleave">
    <interleave>
      <ref name="renderInformationBase.datatype"/>
      <optional>
        <element name="listOfStyles">
          <ref name="listOfGlobalStyles.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="listOfGlobalRenderInformation.datatype" combine="interleave">
    <interleave>
      <attribute name="render:versionMajor">
        <data type="nonNegativeInteger"/>
      </attribute>
      <attribute name="render:versionMinor">
        <data type="nonNegativeInteger"/>
      </attribute>
      <oneOrMore>
        <element name="renderInformation">
          <ref name="globalRenderInformation.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>



  <!-- Extends layout -->
  <define name="graphicalObject.datatype" combine="interleave">
  <optional>
    <attribute name="render:objectRole"  ns="http://www.sbml.org/sbml/level3/version1/render/version1">
      <data type="string"/>
    </attribute>
  </optional>
  </define>
  <define name="layout.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="listOfRenderInformation">
          <ref name="listOfLocalRenderInformation.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="listOfLayouts.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="listOfGlobalRenderInformation">
          <ref name="listOfGlobalRenderInformation.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

</grammar>
