sbml-level-3/version-1/core/sbml-schema/core.rng

<?xml version="1.0" encoding="UTF-8"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  ns="http://www.sbml.org/sbml/level3/version1/core"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">* Filename :
    sbml.xsd * Description: XML Schema for SBML Level 3 Version 1. * Author(s) : Michael Hucka *
    Revision : $Id: sbml.xsd 8275 2008-10-16 16:28:25Z sarahkeating $ * $HeadURL:
    https://sbml.svn.sourceforge.net/svnroot/sbml/trunk/specifications/sbml-level-3/version-1/schema/sbml.rng
    $ * * Copyright 2009 California Institute of Technology. * Copyright 2003-2006 California
    Institute of Technology, the Japan Science * and Technology Corporation, and the University of
    Hertfordshire. * * This software is licensed according to the terms described in the file *
    named "LICENSE.txt" included with this distribution and available * online at
    http://sbml.org/xml-schemas/LICENSE.txt</a:documentation>
  <!--The definition of new primitive types follows.-->
  <define name="SId.simpleType">
    <data type="string">
      <param name="pattern">(_|[a-z]|[A-Z])(_|[a-z]|[A-Z]|[0-9])*</param>
    </data>
  </define>

  <define name="SIdRef.simpleType">
    <ref name="SId.simpleType"/>
  </define>

  <define name="SBOTerm.simpleType">
    <data type="string">
      <param name="pattern">(SBO:)([0-9]{7})</param>
    </data>
  </define>
  
  <define name="BaseUnitSId.simpleType">
    <choice>
      <value type="string">ampere</value>
      <value type="string">avogadro</value>
      <value type="string">becquerel</value>
      <value type="string">candela</value>
      <value type="string">coulomb</value>
      <value type="string">dimensionless</value>
      <value type="string">farad</value>
      <value type="string">gram</value>
      <value type="string">gray</value>
      <value type="string">henry</value>
      <value type="string">hertz</value>
      <value type="string">item</value>
      <value type="string">joule</value>
      <value type="string">katal</value>
      <value type="string">kelvin</value>
      <value type="string">kilogram</value>
      <value type="string">litre</value>
      <value type="string">lumen</value>
      <value type="string">lux</value>
      <value type="string">metre</value>
      <value type="string">mole</value>
      <value type="string">newton</value>
      <value type="string">ohm</value>
      <value type="string">pascal</value>
      <value type="string">radian</value>
      <value type="string">second</value>
      <value type="string">siemens</value>
      <value type="string">sievert</value>
      <value type="string">steradian</value>
      <value type="string">tesla</value>
      <value type="string">volt</value>
      <value type="string">watt</value>
      <value type="string">weber</value>
    </choice>
  </define>
  
  <define name="BaseUnitSIdRef.simpleType">
    <ref name="BaseUnitSId.simpleType"/>
  </define>
  
  <define name="NonBaseUnitSId.simpleType">
    <data type="string">
      <param name="pattern">(_|[a-z]|[A-Z])(_|[a-z]|[A-Z]|[0-9])*</param>
      <except>
        <ref name="BaseUnitSId.simpleType"/>
      </except>
    </data>
  </define>
  
  <define name="UnitSIdRef.simpleType">
    <choice>
      <ref name="BaseUnitSId.simpleType"/>
      <ref name="NonBaseUnitSId.simpleType"/>
    </choice>
  </define>

  <define name="xhtml.datatype" combine="interleave">
    <mixed>
      <zeroOrMore>
        <element>
          <nsName ns="http://www.w3.org/1999/xhtml"/>
          <zeroOrMore>
            <attribute>
              <anyName/>
              <text/>
            </attribute>
          </zeroOrMore>
          <ref name="xhtml.datatype"/>
        </element>
      </zeroOrMore>
    </mixed>
  </define>

  <define name="annotation.datatype" combine="interleave">
    <zeroOrMore>
      <element>
        <anyName/>
        <zeroOrMore>
          <attribute>
            <anyName/>
            <text/>
          </attribute>
        </zeroOrMore>
        <mixed>
          <ref name="annotation.datatype"/>
        </mixed>
      </element>
    </zeroOrMore>
  </define>

  <!--
  <define name="math.datatype">
    <grammar>
      <include href="../../../../RelaxNG/mml2/mathml2.rng" ns="http://www.w3c.org/1998/Math/MathML"
      />
    </grammar>
  </define>
-->

  <define name="math.datatype" combine="interleave">
    <mixed>
      <zeroOrMore>
        <element>
          <nsName ns="http://www.w3c.org/1998/Math/MathML"/>
          <zeroOrMore>
            <attribute>
              <anyName/>
              <text/>
            </attribute>
          </zeroOrMore>
          <ref name="math.datatype"/>
        </element>
      </zeroOrMore>
    </mixed>
  </define>

  <!--The definition of SBase follows.-->
  <define name="SBase.datatype" combine="interleave">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The SBase type is
      the base type of all main components in SBML. It supports attaching metadata, notes and
      annotations to components.</a:documentation>
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="otherElementsNested.datatype" combine="interleave">
    <zeroOrMore>
      <element>
        <anyName> </anyName>
        <zeroOrMore>
          <attribute>
            <anyName/>
            <text/>
          </attribute>
        </zeroOrMore>
        <mixed>
          <ref name="otherElementsNested.datatype"/>
        </mixed>
      </element>
    </zeroOrMore>
  </define>

  <define name="otherElement.datatype" combine="interleave">
    <element>
      <anyName>
        <except>
          <nsName ns=""/>
          <nsName ns="http://www.sbml.org/sbml/level3/version1/core"/>
          <nsName ns="http://www.w3c.org/1998/Math/MathML"/>
        </except>
      </anyName>
      <zeroOrMore>
        <ref name="otherAttribute.datatype"/>
      </zeroOrMore>
      <mixed>
        <ref name="otherElementsNested.datatype"/>
      </mixed>
    </element>
  </define>

  <define name="otherAttribute.datatype" combine="interleave">
    <attribute>
      <anyName>
        <except>
          <nsName ns=""/>
          <nsName ns="http://www.sbml.org/sbml/level3/version1/core"/>
        </except>
      </anyName>
      <text/>
    </attribute>
  </define>

  <!-- The following is the type definition for the top-level element in an SBML document.-->
  <define name="sbml.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfPackages">
          <ref name="listOfPackages.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="model">
          <ref name="model.datatype"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <attribute name="level">
      <value type="positiveInteger">3</value>
    </attribute>
    <attribute name="version">
      <value type="positiveInteger">1</value>
    </attribute>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="model.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfFunctionDefinitions">
          <ref name="listOfFunctions.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfUnitDefinitions">
          <ref name="listOfUnitDefinitions.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfCompartments">
          <ref name="listOfCompartments.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfSpecies">
          <ref name="listOfSpecies.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfParameters">
          <ref name="listOfParameters.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfInitialAssignments">
          <ref name="listOfInitialAssignments.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfRules">
          <ref name="listOfRules.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfConstraints">
          <ref name="listOfConstraints.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfReactions">
          <ref name="listOfReactions.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfEvents">
          <ref name="listOfEvents.datatype"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="id">
        <ref name="SId.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="timeUnits">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="lengthUnits">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="areaUnits">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="volumeUnits">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="substanceUnits">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="extentUnits">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="conversionFactor">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="listOfFunctions.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <element name="functionDefinition">
          <ref name="functionDefinition.datatype"/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="functionDefinition.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <ref name="math.datatype"/>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <attribute name="id">
      <ref name="SId.simpleType"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="listOfUnitDefinitions.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <element name="unitDefinition">
          <ref name="unitDefinition.datatype"/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="unitDefinition.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfUnits">
          <ref name="listOfUnits.datatype"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <attribute name="id">
      <ref name="NonBaseUnitSId.simpleType"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="listOfUnits.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <element name="unit">
          <ref name="unit.datatype"/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="unit.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <attribute name="kind">
      <ref name="BaseUnitSIdRef.simpleType"/>
    </attribute>
    <attribute name="exponent">
      <data type="double"/>
    </attribute>
    <attribute name="scale">
      <data type="int"/>
    </attribute>
    <attribute name="multiplier">
      <data type="double"/>
    </attribute>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="listOfCompartments.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <element name="compartment">
          <ref name="compartment.datatype"/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="compartment.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <attribute name="id">
      <ref name="SId.simpleType"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="spatialDimensions">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="size">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="units">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <attribute name="constant">
      <data type="boolean"/>
    </attribute>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="listOfSpecies.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <element name="species">
          <ref name="species.datatype"/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="species.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <attribute name="id">
      <ref name="SId.simpleType"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <attribute name="compartment">
      <ref name="SIdRef.simpleType"/>
    </attribute>
    <optional>
      <attribute name="initialAmount">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="initialConcentration">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="substanceUnits">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <attribute name="hasOnlySubstanceUnits">
      <data type="boolean"/>
    </attribute>
    <optional>
      <attribute name="conversionFactor">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </optional>
    <attribute name="boundaryCondition">
      <data type="boolean"/>
    </attribute>
    <attribute name="constant">
      <data type="boolean"/>
    </attribute>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="listOfParameters.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <element name="parameter">
          <ref name="parameter.datatype"/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="parameter.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <attribute name="id">
      <ref name="SId.simpleType"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="value">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="units">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <attribute name="constant">
      <data type="boolean"/>
    </attribute>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="listOfLocalParameters.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <element name="localParameter">
          <ref name="localParameter.datatype"/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="localParameter.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <attribute name="id">
      <ref name="SId.simpleType"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="value">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="units">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="listOfInitialAssignments.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <element name="initialAssignment">
          <ref name="initialAssignment.datatype"/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="initialAssignment.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <ref name="math.datatype"/>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <attribute name="symbol">
      <ref name="SIdRef.simpleType"/>
    </attribute>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="listOfRules.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <choice>
          <element name="algebraicRule">
            <ref name="rule.datatype"/>
          </element>
          <element name="assignmentRule">
            <ref name="targetedRule.datatype"/>
          </element>
          <element name="rateRule">
            <ref name="targetedRule.datatype"/>
          </element>
        </choice>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="rule.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <ref name="math.datatype"/>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>
  
  <define name="targetedRule.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <ref name="math.datatype"/>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <attribute name="variable">
      <ref name="SIdRef.simpleType"/>
    </attribute>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>
  
  <define name="listOfConstraints.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <element name="constraint">
          <ref name="constraint.datatype"/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="constraint.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <ref name="math.datatype"/>
      <optional>
        <element name="message">
          <zeroOrMore>
            <ref name="xhtml.datatype"/>
          </zeroOrMore>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="listOfReactions.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <element name="reaction">
          <ref name="reaction.datatype"/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="reaction.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfReactants">
          <ref name="listOfSpeciesReferences.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfProducts">
          <ref name="listOfSpeciesReferences.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfModifiers">
          <ref name="listOfModifierSpeciesReferences.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="kineticLaw">
          <ref name="kineticLaw.datatype"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <attribute name="id">
      <ref name="SId.simpleType"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <attribute name="reversible">
      <data type="boolean"/>
    </attribute>
    <attribute name="fast">
      <data type="boolean"/>
    </attribute>
    <optional>
      <attribute name="compartment">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="listOfSpeciesReferences.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <element name="speciesReference">
          <ref name="speciesReference.datatype"/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="listOfModifierSpeciesReferences.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <element name="modifierSpeciesReference">
          <ref name="simpleSpeciesReference.datatype"/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="speciesReference.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="id">
        <ref name="SId.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <attribute name="species">
      <ref name="SIdRef.simpleType"/>
    </attribute>
    <attribute name="stoichiometry">
      <data type="double"/>
    </attribute>
    <attribute name="constant">
      <data type="boolean"/>
    </attribute>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="simpleSpeciesReference.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="id">
        <ref name="SId.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <attribute name="species">
      <ref name="SIdRef.simpleType"/>
    </attribute>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="kineticLaw.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfLocalParameters">
          <ref name="listOfLocalParameters.datatype"/>
        </element>
      </optional>
      <ref name="math.datatype"/>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="listOfEvents.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <element name="event">
          <ref name="event.datatype"/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="trigger.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <ref name="math.datatype"/>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="delay.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <ref name="math.datatype"/>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="event.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <element name="trigger">
        <ref name="trigger.datatype"/>
      </element>
      <optional>
        <group>
          <optional>
            <element name="delay">
              <ref name="delay.datatype"/>
            </element>
          </optional>
          <attribute name="useValuesFromTriggerTime">
            <data type="boolean"/>
          </attribute>
        </group>
      </optional>
      <optional>
        <element name="listOfEventAssignments">
          <ref name="listOfEventAssignments.datatype"/>
        </element>
      </optional>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="id">
        <ref name="SId.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="listOfEventAssignments.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <oneOrMore>
        <element name="eventAssignment">
          <ref name="eventAssignment.datatype"/>
        </element>
      </oneOrMore>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <define name="eventAssignment.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="annotation">
          <ref name="annotation.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="notes">
          <ref name="xhtml.datatype"/>
        </element>
      </optional>
      <ref name="math.datatype"/>
      <zeroOrMore>
        <ref name="otherElement.datatype"/>
      </zeroOrMore>
    </interleave>
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.simpleType"/>
      </attribute>
    </optional>
    <attribute name="variable">
      <ref name="SIdRef.simpleType"/>
    </attribute>
    <zeroOrMore>
      <ref name="otherAttribute.datatype"/>
    </zeroOrMore>
  </define>

  <!--The following is the (only) top-level element allowed in an SBML document.-->
  <start>
    <element name="sbml">
      <ref name="sbml.datatype"/>
    </element>
  </start>

  <!--The end.-->
</grammar>
