sbml-level-3/version-1/core/sbml-schema/core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://www.sbml.org/sbml/level3/version1/core"
  xmlns:core="http://www.sbml.org/sbml/level3/version1/core"
  xmlns:mml="http://www.w3.org/1998/Math/MathML">
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" 
    schemaLocation="http://www.w3.org/Math/XMLSchema/mathml2/mathml2.xsd"/>
  <!-- The definition of new primitive types follows. -->
  <xs:simpleType name="SId.simpleType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(_|[a-z]|[A-Z])(_|[a-z]|[A-Z]|[0-9])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SIdRef.simpleType">
    <xs:restriction base="core:SId.simpleType"/>
  </xs:simpleType>
  <xs:simpleType name="SBOTerm.simpleType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(SBO:)([0-9]{7})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BaseUnitSId.simpleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ampere"/>
      <xs:enumeration value="avogadro"/>
      <xs:enumeration value="becquerel"/>
      <xs:enumeration value="candela"/>
      <xs:enumeration value="coulomb"/>
      <xs:enumeration value="dimensionless"/>
      <xs:enumeration value="farad"/>
      <xs:enumeration value="gram"/>
      <xs:enumeration value="gray"/>
      <xs:enumeration value="henry"/>
      <xs:enumeration value="hertz"/>
      <xs:enumeration value="item"/>
      <xs:enumeration value="joule"/>
      <xs:enumeration value="katal"/>
      <xs:enumeration value="kelvin"/>
      <xs:enumeration value="kilogram"/>
      <xs:enumeration value="litre"/>
      <xs:enumeration value="lumen"/>
      <xs:enumeration value="lux"/>
      <xs:enumeration value="metre"/>
      <xs:enumeration value="mole"/>
      <xs:enumeration value="newton"/>
      <xs:enumeration value="ohm"/>
      <xs:enumeration value="pascal"/>
      <xs:enumeration value="radian"/>
      <xs:enumeration value="second"/>
      <xs:enumeration value="siemens"/>
      <xs:enumeration value="sievert"/>
      <xs:enumeration value="steradian"/>
      <xs:enumeration value="tesla"/>
      <xs:enumeration value="volt"/>
      <xs:enumeration value="watt"/>
      <xs:enumeration value="weber"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BaseUnitSIdRef.simpleType">
    <xs:restriction base="core:BaseUnitSId.simpleType"/>
  </xs:simpleType>
  <xs:simpleType name="NonBaseUnitSId.simpleType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(_|[a-z]|[A-Z])(_|[a-z]|[A-Z]|[0-9])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UnitSIdRef.simpleType">
    <xs:union memberTypes="core:BaseUnitSId.simpleType core:NonBaseUnitSId.simpleType"/>
  </xs:simpleType>
  <xs:group name="xhtml.datatype">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/1999/xhtml"
        processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="annotation.datatype">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>

  <!--
    <define name="math.datatype">
      <grammar>
        <include href="../../../../RelaxNG/mml2/mathml2.rng" ns="http://www.w3c.org/1998/Math/MathML"
        />
      </grammar>
    </define>
  -->

  <xs:group name="math.datatype">
    <xs:sequence>
        <xs:element ref="mml:math"/>
    </xs:sequence>
  </xs:group>

  <!-- The definition of SBase follows. -->
  <xs:group name="SBase.datatype">
    <xs:annotation>
      <xs:documentation>The SBase type is
      the base type of all main components in SBML. It supports attaching metadata, notes and
      annotations to components.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="core:annotation"/>
        <xs:element ref="core:notes"/>
        <xs:group ref="core:otherElement.datatype"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="annotation" type="core:annotation.datatype"/>
  <xs:element name="notes">
    <xs:complexType mixed="true">
      <xs:group ref="core:xhtml.datatype"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="SBase.datatype">
    <xs:annotation>
      <xs:documentation>The SBase type is
      the base type of all main components in SBML. It supports attaching metadata, notes and
      annotations to components.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:attributeGroup>
  <xs:group name="otherElementsNested.datatype">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="otherElement.datatype">
    <xs:sequence>
      <xs:any processContents="skip" namespace="##other"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="otherAttribute.datatype">
    <xs:anyAttribute namespace="##other" processContents="skip"/>
  </xs:attributeGroup>
  <!--  The following is the type definition for the top-level element in an SBML document. -->
  <xs:complexType name="sbml.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:listOfPackages"/>
      <xs:element ref="core:model"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="level" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:positiveInteger">
          <xs:enumeration value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="version" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:positiveInteger">
          <xs:enumeration value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="listOfPackages" type="core:listOfPackages.datatype"/>
  <xs:element name="model" type="core:model.datatype"/>
  <xs:complexType name="model.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:listOfFunctionDefinitions"/>
      <xs:element ref="core:listOfUnitDefinitions"/>
      <xs:element ref="core:listOfCompartments"/>
      <xs:element ref="core:listOfSpecies"/>
      <xs:element ref="core:listOfParameters"/>
      <xs:element ref="core:listOfInitialAssignments"/>
      <xs:element ref="core:listOfRules"/>
      <xs:element ref="core:listOfConstraints"/>
      <xs:element ref="core:listOfReactions"/>
      <xs:element ref="core:listOfEvents"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="id" type="core:SId.simpleType"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="timeUnits" type="core:UnitSIdRef.simpleType"/>
    <xs:attribute name="lengthUnits" type="core:UnitSIdRef.simpleType"/>
    <xs:attribute name="areaUnits" type="core:UnitSIdRef.simpleType"/>
    <xs:attribute name="volumeUnits" type="core:UnitSIdRef.simpleType"/>
    <xs:attribute name="substanceUnits" type="core:UnitSIdRef.simpleType"/>
    <xs:attribute name="extentUnits" type="core:UnitSIdRef.simpleType"/>
    <xs:attribute name="conversionFactor" type="core:SIdRef.simpleType"/>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="listOfFunctionDefinitions" type="core:listOfFunctions.datatype"/>
  <xs:element name="listOfUnitDefinitions" type="core:listOfUnitDefinitions.datatype"/>
  <xs:element name="listOfCompartments" type="core:listOfCompartments.datatype"/>
  <xs:element name="listOfSpecies" type="core:listOfSpecies.datatype"/>
  <xs:element name="listOfParameters" type="core:listOfParameters.datatype"/>
  <xs:element name="listOfInitialAssignments" type="core:listOfInitialAssignments.datatype"/>
  <xs:element name="listOfRules" type="core:listOfRules.datatype"/>
  <xs:element name="listOfConstraints" type="core:listOfConstraints.datatype"/>
  <xs:element name="listOfReactions" type="core:listOfReactions.datatype"/>
  <xs:element name="listOfEvents" type="core:listOfEvents.datatype"/>
  <xs:complexType name="listOfPackages.datatype">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="core:package"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="package">
    <xs:complexType>
      <xs:attributeGroup ref="core:package.datatype"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="package.datatype">
    <xs:attribute name="namespace" use="required" type="xs:string"/>
    <xs:attribute name="required" use="required" type="xs:boolean"/>
  </xs:attributeGroup>
  <xs:complexType name="listOfFunctions.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:functionDefinition"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="functionDefinition" type="core:functionDefinition.datatype"/>
  <xs:complexType name="functionDefinition.datatype" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:math.datatype"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="id" use="required" type="core:SId.simpleType"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:complexType name="listOfUnitDefinitions.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:unitDefinition"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="unitDefinition" type="core:unitDefinition.datatype"/>
  <xs:complexType name="unitDefinition.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:listOfUnits"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="id" use="required" type="core:NonBaseUnitSId.simpleType"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="listOfUnits" type="core:listOfUnits.datatype"/>
  <xs:complexType name="listOfUnits.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:unit"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="unit" type="core:unit.datatype"/>
  <xs:complexType name="unit.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="kind" use="required" type="core:BaseUnitSIdRef.simpleType"/>
    <xs:attribute name="exponent" use="required" type="xs:double"/>
    <xs:attribute name="scale" use="required" type="xs:int"/>
    <xs:attribute name="multiplier" use="required" type="xs:double"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:complexType name="listOfCompartments.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:compartment"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="compartment" type="core:compartment.datatype"/>
  <xs:complexType name="compartment.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="id" use="required" type="core:SId.simpleType"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="spatialDimensions" type="xs:double"/>
    <xs:attribute name="size" type="xs:double"/>
    <xs:attribute name="units" type="core:UnitSIdRef.simpleType"/>
    <xs:attribute name="constant" use="required" type="xs:boolean"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:complexType name="listOfSpecies.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:species"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="species" type="core:species.datatype"/>
  <xs:complexType name="species.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="id" use="required" type="core:SId.simpleType"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="compartment" use="required" type="core:SIdRef.simpleType"/>
    <xs:attribute name="initialAmount" type="xs:double"/>
    <xs:attribute name="initialConcentration" type="xs:double"/>
    <xs:attribute name="substanceUnits" type="core:UnitSIdRef.simpleType"/>
    <xs:attribute name="hasOnlySubstanceUnits" use="required" type="xs:boolean"/>
    <xs:attribute name="conversionFactor" type="core:SIdRef.simpleType"/>
    <xs:attribute name="boundaryCondition" use="required" type="xs:boolean"/>
    <xs:attribute name="constant" use="required" type="xs:boolean"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:complexType name="listOfParameters.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:parameter"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="parameter" type="core:parameter.datatype"/>
  <xs:complexType name="parameter.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="id" use="required" type="core:SId.simpleType"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="value" type="xs:double"/>
    <xs:attribute name="units" type="core:UnitSIdRef.simpleType"/>
    <xs:attribute name="constant" use="required" type="xs:boolean"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:complexType name="listOfLocalParameters.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:localParameter"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="localParameter" type="core:localParameter.datatype"/>
  <xs:complexType name="localParameter.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="id" use="required" type="core:SId.simpleType"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="value" type="xs:double"/>
    <xs:attribute name="units" type="core:UnitSIdRef.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:complexType name="listOfInitialAssignments.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:initialAssignment"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="initialAssignment" type="core:initialAssignment.datatype"/>
  <xs:complexType name="initialAssignment.datatype" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:math.datatype"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="symbol" use="required" type="core:SIdRef.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:complexType name="listOfRules.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:choice>
        <xs:element ref="core:algebraicRule"/>
        <xs:element ref="core:assignmentRule"/>
        <xs:element ref="core:rateRule"/>
      </xs:choice>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="algebraicRule" type="core:rule.datatype"/>
  <xs:element name="assignmentRule" type="core:targetedRule.datatype"/>
  <xs:element name="rateRule" type="core:targetedRule.datatype"/>
  <xs:complexType name="rule.datatype" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:math.datatype"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:complexType name="targetedRule.datatype" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:math.datatype"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="variable" use="required" type="core:SIdRef.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:complexType name="listOfConstraints.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:constraint"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="constraint" type="core:constraint.datatype"/>
  <xs:complexType name="constraint.datatype" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:math.datatype"/>
      <xs:element ref="core:message"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="message">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="core:xhtml.datatype"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="listOfReactions.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:reaction"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="reaction" type="core:reaction.datatype"/>
  <xs:complexType name="reaction.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:listOfReactants"/>
      <xs:element ref="core:listOfProducts"/>
      <xs:element ref="core:listOfModifiers"/>
      <xs:element ref="core:kineticLaw"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="id" use="required" type="core:SId.simpleType"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="reversible" use="required" type="xs:boolean"/>
    <xs:attribute name="fast" use="required" type="xs:boolean"/>
    <xs:attribute name="compartment" type="core:SIdRef.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="listOfReactants" type="core:listOfSpeciesReferences.datatype"/>
  <xs:element name="listOfProducts" type="core:listOfSpeciesReferences.datatype"/>
  <xs:element name="listOfModifiers" type="core:listOfModifierSpeciesReferences.datatype"/>
  <xs:element name="kineticLaw" type="core:kineticLaw.datatype"/>
  <xs:complexType name="listOfSpeciesReferences.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:speciesReference"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="speciesReference" type="core:speciesReference.datatype"/>
  <xs:complexType name="listOfModifierSpeciesReferences.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:modifierSpeciesReference"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="modifierSpeciesReference" type="core:simpleSpeciesReference.datatype"/>
  <xs:complexType name="speciesReference.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="id" type="core:SId.simpleType"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="species" use="required" type="core:SIdRef.simpleType"/>
    <xs:attribute name="stoichiometry" use="required" type="xs:double"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:complexType name="simpleSpeciesReference.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="id" type="core:SId.simpleType"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="species" use="required" type="core:SIdRef.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:complexType name="kineticLaw.datatype" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:listOfLocalParameters"/>
      <xs:group ref="core:math.datatype"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="listOfLocalParameters" type="core:listOfLocalParameters.datatype"/>
  <xs:complexType name="listOfEvents.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:event"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="event" type="core:event.datatype"/>
  <xs:complexType name="trigger.datatype" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:math.datatype"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:complexType name="delay.datatype" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:math.datatype"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:complexType name="event.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:trigger"/>
      <xs:element ref="core:delay"/>
      <xs:element ref="core:listOfEventAssignments"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="useValuesFromTriggerTime" type="xs:boolean"/>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="id" type="core:SId.simpleType"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="trigger" type="core:trigger.datatype"/>
  <xs:element name="delay" type="core:delay.datatype"/>
  <xs:element name="listOfEventAssignments" type="core:listOfEventAssignments.datatype"/>
  <xs:complexType name="listOfEventAssignments.datatype">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:element ref="core:eventAssignment"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <xs:element name="eventAssignment" type="core:eventAssignment.datatype"/>
  <xs:complexType name="eventAssignment.datatype" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="core:annotation"/>
      <xs:element ref="core:notes"/>
      <xs:group ref="core:math.datatype"/>
      <xs:group ref="core:otherElement.datatype"/>
    </xs:choice>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="core:SBOTerm.simpleType"/>
    <xs:attribute name="variable" use="required" type="core:SIdRef.simpleType"/>
    <xs:attributeGroup ref="core:otherAttribute.datatype"/>
  </xs:complexType>
  <!-- The following is the (only) top-level element allowed in an SBML document. -->
  <xs:element name="sbml" type="core:sbml.datatype"/>
  <!-- The end. -->
</xs:schema>
