sbml-level-3/version-1/core/sbml-schema/core.rng

<?xml version="1.0" encoding="UTF-8"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0" 
  ns="http://www.sbml.org/sbml/level3/version1/core" 
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">* Filename : sbml.xsd * Description: XML Schema for SBML Level 2 Version 4. * Author(s) : Michael Hucka * Revision : $Id: sbml.xsd 8275 2008-10-16 16:28:25Z sarahkeating $ * $HeadURL: https://sbml.svn.sourceforge.net/svnroot/sbml/trunk/specifications/sbml-level-3/version-1/schema/sbml.rng $ * * Copyright 2007 California Institute of Technology. * Copyright 2003-2006 California Institute of Technology, the Japan Science * and Technology Corporation, and the University of Hertfordshire. * * This software is licensed according to the terms described in the file * named "LICENSE.txt" included with this distribution and available * online at http://sbml.org/xml-schemas/LICENSE.txt</a:documentation>
  <!--The definition of new primitive types follows.-->
  <define name="SId.datatype">
    <data type="string">
      <param name="pattern">(_|[a-z]|[A-Z])(_|[a-z]|[A-Z]|[0-9])*</param>
    </data>
  </define>
  
  <define name="SIdRef.datatype">
    <ref name="SId.datatype" />
  </define>
  
  <define name="SBOTerm.datatype">
    <data type="string">
      <param name="pattern">(SBO:)([0-9]{7})</param>
    </data>
  </define>
  
  <define name="xhtml.datatype">
    <mixed>
      <zeroOrMore>
        <element>
          <nsName ns="http://www.w3.org/1999/xhtml"/>
          <zeroOrMore>
            <attribute>
              <anyName/>
              <text/>
            </attribute>
          </zeroOrMore>
          <ref name="xhtml.datatype"/>
        </element>
      </zeroOrMore>
    </mixed>
  </define>

  <define name="annotation.datatype">
    <zeroOrMore>
      <element>
        <anyName/>
        <zeroOrMore>
          <attribute>
            <anyName/>
            <text/>
          </attribute>
        </zeroOrMore>
        <mixed>
          <ref name="annotation.datatype"/>
        </mixed>
      </element>
    </zeroOrMore>
  </define>

  <define name="math.datatype">
    <grammar>
      <include href="../../../../RelaxNG/mml2/mathml2.rng" ns="http://www.w3c.org/1998/Math/MathML"/>
    </grammar>
  </define>
  
  <define name="unitIdRef.datatype">
    <choice>
      <ref name="baseUnitId.datatype"/>
      <ref name="nonBaseUnitId.datatype"/>
    </choice>
  </define>
  
  <define name="baseUnitId.datatype">
    <choice>
      <value type="string">ampere</value>
      <value type="string">becquerel</value>
      <value type="string">candela</value>
      <value type="string">coulomb</value>
      <value type="string">dimensionless</value>
      <value type="string">farad</value>
      <value type="string">gram</value>
      <value type="string">gray</value>
      <value type="string">henry</value>
      <value type="string">hertz</value>
      <value type="string">item</value>
      <value type="string">joule</value>
      <value type="string">katal</value>
      <value type="string">kelvin</value>
      <value type="string">kilogram</value>
      <value type="string">litre</value>
      <value type="string">lumen</value>
      <value type="string">lux</value>
      <value type="string">metre</value>
      <value type="string">mole</value>
      <value type="string">newton</value>
      <value type="string">ohm</value>
      <value type="string">pascal</value>
      <value type="string">radian</value>
      <value type="string">second</value>
      <value type="string">siemens</value>
      <value type="string">sievert</value>
      <value type="string">steradian</value>
      <value type="string">tesla</value>
      <value type="string">volt</value>
      <value type="string">watt</value>
      <value type="string">weber</value>
    </choice>
  </define>
  
  <define name="nonBaseUnitId.datatype">
    <data type="string">
      <param name="pattern">(_|[a-z]|[A-Z])(_|[a-z]|[A-Z]|[0-9])*</param>
      <except>
        <ref name="baseUnitId.datatype"/>
      </except>
    </data>
  </define>

  <!--The definition of SBase follows.-->
  <define name="SBase.datatype">
    <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The SBase type is the base type of all main components in SBML. It supports attaching metadata, notes and annotations to components.</a:documentation>
    <optional>
      <element name="notes">
        <ref name="xhtml.datatype"/>
      </element>
    </optional>
    <optional>
      <element name="annotation">
        <ref name="annotation.datatype"/>
      </element>
    </optional>
    <ref name="otherElements.datatype" />
    <optional>
      <attribute name="metaid">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sboTerm">
        <ref name="SBOTerm.datatype"/>
      </attribute>
    </optional>
    <ref name="otherAttributes.datatpye" />
  </define>

  <define name="otherElements.datatype">
    <zeroOrMore>
      <element>
        <anyName>
          <except>
            <nsName ns="" />
            <nsName ns="http://www.sbml.org/sbml/level3/version1" />
          </except>
        </anyName>
        <ref name="otherAttributes.datatpye" />
        <mixed>
          <ref name="otherElements.datatype"/>
        </mixed>
      </element>
    </zeroOrMore>
  </define>

  <define name="otherAttributes.datatpye">
    <zeroOrMore>
      <attribute>
        <anyName>
          <except>
            <nsName ns=""/>
            <nsName ns="http://www.sbml.org/sbml/level3/version1"/>
          </except>
        </anyName>
        <text/>
      </attribute>
    </zeroOrMore>
  </define>
  
  <!-- The following is the type definition for the top-level element in an SBML document.-->
  <define name="sbml.datatype">
    <ref name="SBase.datatype"/>
    <attribute name="level">
      <value type="positiveInteger">3</value>
    </attribute>
    <attribute name="version">
      <value type="positiveInteger">1</value>
    </attribute>
    <element name="model">
      <ref name="model.datatype"/>
    </element>
  </define>
  
  <define name="model.datatype">
    <ref name="SBase.datatype"/>
    <optional>
      <element name="listOfFunctionDefinitions">
        <ref name="listOfFunctions.datatype"/>
      </element>
    </optional>
    <optional>
      <element name="listOfUnitDefinitions">
        <ref name="listOfUnitDefinitions.datatype"/>
      </element>
    </optional>
    <optional>
      <element name="listOfCompartments">
        <ref name="listOfCompartments.datatype"/>
      </element>
    </optional>
    <optional>
      <element name="listOfSpecies">
        <ref name="listOfSpecies.datatype"/>
      </element>
    </optional>
    <optional>
      <element name="listOfParameters">
        <ref name="listOfParameters.datatype"/>
      </element>
    </optional>
    <optional>
      <element name="listOfInitialAssignments">
        <ref name="listOfInitialAssignments.datatype"/>
      </element>
    </optional>
    <optional>
      <element name="listOfRules">
        <ref name="listOfRules.datatype"/>
      </element>
    </optional>
    <optional>
      <element name="listOfConstraints">
        <ref name="listOfConstraints.datatype"/>
      </element>
    </optional>
    <optional>
      <element name="listOfReactions">
        <ref name="listOfReactions.datatype"/>
      </element>
    </optional>
    <optional>
      <element name="listOfEvents">
        <ref name="listOfEvents.datatype"/>
      </element>
    </optional>
    <optional>
      <attribute name="id">
        <ref name="SId.datatype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="timeUnits">
        <ref name="unitIdRef.datatype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="lengthUnits">
        <ref name="unitIdRef.datatype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="areaUnits">
        <ref name="unitIdRef.datatype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="volumeUnits">
        <ref name="unitIdRef.datatype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="substanceUnits">
        <ref name="unitIdRef.datatype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="extendUnits">
        <ref name="unitIdRef.datatype"/>
      </attribute>
    </optional>
    
  </define>
  
  <define name="listOfPackages.datatype">
    <oneOrMore>
      <element name="package">
        <ref name="package.datatype"/>
      </element>
    </oneOrMore>
  </define>
  
  <define name="package.datatype">
    <attribute name="namespace">
      <data type="string"/>
    </attribute>
    <attribute name="required">
      <data type="boolean"/>
    </attribute>
  </define>

  <define name="listOfFunctions.datatype">
    <ref name="SBase.datatype"/>
    <oneOrMore>
      <element name="functionDefinition">
        <ref name="functionDefinition.datatype"/>
      </element>
    </oneOrMore>
  </define>
  
  <define name="functionDefinition.datatype">
    <ref name="SBase.datatype"/>
    <ref name="math.datatype"/>
    <attribute name="id">
      <ref name="SId.datatype"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
  </define>
  
  <define name="listOfUnitDefinitions.datatype">
    <ref name="SBase.datatype"/>
    <oneOrMore>
      <element name="unitDefinition">
        <ref name="unitDefinition.datatype"/>
      </element>
    </oneOrMore>
  </define>
  
  <define name="unitDefinition.datatype">
    <ref name="SBase.datatype"/>
    <optional>
      <element name="listOfUnits">
        <ref name="listOfUnits.datatype"/>
      </element>
    </optional>
    <attribute name="id">
      <ref name="nonBaseUnitId.datatype"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
  </define>
  
  <define name="listOfUnits.datatype">
    <ref name="SBase.datatype"/>
    <oneOrMore>
      <element name="unit">
        <ref name="unit.datatype"/>
      </element>
    </oneOrMore>
  </define>
  
  <define name="unit.datatype">
    <ref name="SBase.datatype"/>
    <attribute name="kind">
      <ref name="baseUnitId.datatype"/>
    </attribute>
    <attribute name="exponent">
      <data type="double"/>
    </attribute>
    <attribute name="scale">
      <data type="int"/>
    </attribute>
    <attribute name="multiplier">
      <data type="double"/>
    </attribute>
  </define>
  
  <define name="listOfCompartments.datatype">
    <ref name="SBase.datatype"/>
    <oneOrMore>
      <element name="compartment">
        <ref name="compartment.datatype"/>
      </element>
    </oneOrMore>
  </define>
  
  <define name="compartment.datatype">
    <ref name="SBase.datatype"/>
    <attribute name="id">
      <ref name="SId.datatype"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="spatialDimensions">
        <data type="double" />
      </attribute>
    </optional>
    <optional>
      <attribute name="size">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="units">
        <ref name="unitIdRef.datatype"/>
      </attribute>
    </optional>
    <attribute name="constant">
      <data type="boolean"/>
    </attribute>
  </define>
  
  <define name="listOfSpecies.datatype">
    <ref name="SBase.datatype"/>
    <oneOrMore>
      <element name="species">
        <ref name="species.datatype"/>
      </element>
    </oneOrMore>
  </define>
  
  <define name="species.datatype">
    <ref name="SBase.datatype"/>
    <attribute name="id">
      <ref name="SId.datatype"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <attribute name="compartment">
      <ref name="SIdRef.datatype"/>
    </attribute>
    <optional>
      <attribute name="initialAmount">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="initialConcentration">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="substanceUnits">
        <ref name="unitIdRef.datatype"/>
      </attribute>
    </optional>
    <attribute name="hasOnlySubstanceUnits">
      <data type="boolean"/>
    </attribute>
    <attribute name="boundaryCondition">
      <data type="boolean"/>
    </attribute>
    <attribute name="constant">
      <data type="boolean"/>
    </attribute>
  </define>
  
  <define name="listOfParameters.datatype">
    <ref name="SBase.datatype"/>
    <oneOrMore>
      <element name="parameter">
        <ref name="parameter.datatype"/>
      </element>
    </oneOrMore>
    <empty/>
  </define>
  
  <define name="parameter.datatype">
    <ref name="SBase.datatype"/>
    <attribute name="id">
      <ref name="SId.datatype"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="value">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="units">
        <ref name="unitIdRef.datatype"/>
      </attribute>
    </optional>
    <attribute name="constant">
      <data type="boolean"/>
    </attribute>
  </define>
  
  <define name="listOfLocalParameters.datatype">
    <ref name="SBase.datatype"/>
    <oneOrMore>
      <element name="localParameter">
        <ref name="localParameter.datatype"/>
      </element>
    </oneOrMore>
    <empty/>
  </define>
  
  <define name="localParameter.datatype">
    <ref name="SBase.datatype"/>
    <attribute name="id">
      <ref name="SId.datatype"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="value">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="units">
        <ref name="unitIdRef.datatype"/>
      </attribute>
    </optional>
  </define>

  <define name="listOfInitialAssignments.datatype">
    <ref name="SBase.datatype"/>
    <oneOrMore>
      <element name="initialAssignment">
        <ref name="initialAssignment.datatype"/>
      </element>
    </oneOrMore>
  </define>
  
  <define name="initialAssignment.datatype">
    <ref name="SBase.datatype"/>
    <ref name="math.datatype"/>
    <attribute name="symbol">
      <ref name="SIdRef.datatype"/>
    </attribute>
  </define>
  
  <define name="listOfRules.datatype">
    <ref name="SBase.datatype"/>
    <oneOrMore>
      <choice>
        <element name="algebraicRule">
          <ref name="rule.datatype"/>
        </element>
        <element name="assignmentRule">
          <ref name="rule.datatype"/>
          <attribute name="variable">
            <ref name="SIdRef.datatype"/>
          </attribute>
        </element>
        <element name="rateRule">
          <ref name="rule.datatype"/>
          <attribute name="variable">
            <ref name="SIdRef.datatype"/>
          </attribute>
        </element>
      </choice>
    </oneOrMore>
  </define>
  
  <define name="rule.datatype">
    <ref name="SBase.datatype"/>
    <ref name="math.datatype"/>
  </define>
  
  <define name="listOfConstraints.datatype">
    <ref name="SBase.datatype"/>
    <oneOrMore>
      <element name="constraint">
        <ref name="constraint.datatype"/>
      </element>
    </oneOrMore>
  </define>
  
  <define name="constraint.datatype">
    <ref name="SBase.datatype"/>
    <ref name="math.datatype"/>
    <optional>
      <element name="message">
        <zeroOrMore>
          <ref name="xhtml.datatype"/>
        </zeroOrMore>
      </element>
    </optional>
  </define>
  
  <define name="listOfReactions.datatype">
    <ref name="SBase.datatype"/>
    <oneOrMore>
      <element name="reaction">
        <ref name="reaction.datatype"/>
      </element>
    </oneOrMore>
  </define>
  
  <define name="reaction.datatype">
    <ref name="SBase.datatype"/>
    <optional>
      <element name="listOfReactants">
        <ref name="listOfSpeciesReferences.datatype"/>
      </element>
    </optional>
    <optional>
      <element name="listOfProducts">
        <ref name="listOfSpeciesReferences.datatype"/>
      </element>
    </optional>
    <optional>
      <element name="listOfModifiers">
        <ref name="SBase.datatype"/>
        <oneOrMore>
          <element name="modifierSpeciesReference">
            <ref name="simpleSpeciesReference.datatype"/>
          </element>
        </oneOrMore>
      </element>
    </optional>
    <optional>
      <element name="kineticLaw">
        <ref name="kineticLaw.datatype"/>
      </element>
    </optional>
    <attribute name="id">
      <ref name="SId.datatype"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <attribute name="reversible">
      <data type="boolean"/>
    </attribute>
    <attribute name="fast">
      <data type="boolean"/>
    </attribute>
  </define>
  
  <define name="listOfSpeciesReferences.datatype">
    <ref name="SBase.datatype"/>
    <oneOrMore>
      <ref name="speciesReference.datatype"/>
    </oneOrMore>
    <empty/>
  </define>
  
  <define name="speciesReference.datatype">
    <element name="speciesReference">
      <ref name="simpleSpeciesReference.datatype"/>
      <attribute name="stoichiometry">
        <data type="double"/>
      </attribute>
      <optional>
        <attribute name="conversionFactor">
          <ref name="SIdRef.datatype"/>
        </attribute>
      </optional>
    </element>
  </define>
  
  <define name="simpleSpeciesReference.datatype">
    <ref name="SBase.datatype"/>
    <optional>
      <attribute name="id">
        <ref name="SId.datatype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <attribute name="species">
      <ref name="SIdRef.datatype"/>
    </attribute>
  </define>
  
  <define name="kineticLaw.datatype">
    <ref name="SBase.datatype"/>
    <ref name="math.datatype"/>
    <optional>
      <element name="listOfLocalParameters">
        <ref name="listOfLocalParameters.datatype"/>
      </element>
    </optional>
  </define>
  
  <define name="listOfEvents.datatype">
    <ref name="SBase.datatype"/>
    <oneOrMore>
      <element name="event">
        <ref name="event.datatype"/>
      </element>
    </oneOrMore>
  </define>
  
  <define name="event.datatype">
    <ref name="SBase.datatype"/>
    <element name="trigger">
      <ref name="SBase.datatype"/>
      <ref name="math.datatype"/>
    </element>
    <optional>
      <element name="delay">
        <ref name="SBase.datatype"/>
        <ref name="math.datatype"/>
      </element>
    </optional>
    <optional>
      <element name="listOfEventAssignments">
        <ref name="listOfEventAssignments.datatype"/>
      </element>
    </optional>
    <optional>
      <attribute name="id">
        <ref name="SId.datatype"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <attribute name="useValuesFromTriggerTime">
      <data type="boolean"/>
    </attribute>
  </define>
  
  <define name="listOfEventAssignments.datatype">
    <ref name="SBase.datatype"/>
    <oneOrMore>
      <element name="eventAssignment">
        <ref name="eventAssignment.datatype"/>
      </element>
    </oneOrMore>
  </define>
  
  <define name="eventAssignment.datatype">
    <ref name="SBase.datatype"/>
    <ref name="math.datatype"/>
    <attribute name="variable">
      <ref name="SIdRef.datatype"/>
    </attribute>
  </define>

  <!--The following is the (only) top-level element allowed in an SBML document.-->
  <start>
    <element name="sbml">
      <ref name="sbml.datatype"/>
    </element>
  </start>
  
  <!--The end.-->
</grammar>
