sbml-level-3/version-1/core/sbml-schema/core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="http://www.sbml.org/sbml/level3/version1/core"
  xmlns="http://www.sbml.org/sbml/level3/version1" xmlns:mml="http://www.w3.org/1998/Math/MathML">
  <xs:import namespace="http://www.w3.org/1998/Math/MathML"
    schemaLocation="http://www.w3.org/Math/XMLSchema/mathml2/mathml2.xsd"/>
  <!-- The definition of new primitive types follows. -->
  <xs:simpleType name="SId.datatype">
    <xs:restriction base="xs:string">
      <xs:pattern value="(_|[a-z]|[A-Z])(_|[a-z]|[A-Z]|[0-9])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SIdRef.datatype">
    <xs:restriction base="SId.datatype"/>
  </xs:simpleType>
  <xs:simpleType name="SBOTerm.datatype">
    <xs:restriction base="xs:string">
      <xs:pattern value="(SBO:)([0-9]{7})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:group name="xhtml.datatype">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/1999/xhtml"
        processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="annotation.datatype">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="math.datatype">
    <xs:sequence>
      <xs:element ref="mml:math"/>
    </xs:sequence>
  </xs:group>
  <xs:simpleType name="unitIdRef.datatype">
    <xs:union memberTypes="baseUnitId.datatype nonBaseUnitId.datatype"/>
  </xs:simpleType>
  <xs:simpleType name="baseUnitId.datatype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ampere"/>
      <xs:enumeration value="becquerel"/>
      <xs:enumeration value="candela"/>
      <xs:enumeration value="coulomb"/>
      <xs:enumeration value="dimensionless"/>
      <xs:enumeration value="farad"/>
      <xs:enumeration value="gram"/>
      <xs:enumeration value="gray"/>
      <xs:enumeration value="henry"/>
      <xs:enumeration value="hertz"/>
      <xs:enumeration value="item"/>
      <xs:enumeration value="joule"/>
      <xs:enumeration value="katal"/>
      <xs:enumeration value="kelvin"/>
      <xs:enumeration value="kilogram"/>
      <xs:enumeration value="litre"/>
      <xs:enumeration value="lumen"/>
      <xs:enumeration value="lux"/>
      <xs:enumeration value="metre"/>
      <xs:enumeration value="mole"/>
      <xs:enumeration value="newton"/>
      <xs:enumeration value="ohm"/>
      <xs:enumeration value="pascal"/>
      <xs:enumeration value="radian"/>
      <xs:enumeration value="second"/>
      <xs:enumeration value="siemens"/>
      <xs:enumeration value="sievert"/>
      <xs:enumeration value="steradian"/>
      <xs:enumeration value="tesla"/>
      <xs:enumeration value="volt"/>
      <xs:enumeration value="watt"/>
      <xs:enumeration value="weber"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nonBaseUnitId.datatype">
    <xs:restriction base="xs:string">
      <xs:pattern value="(_|[a-z]|[A-Z])(_|[a-z]|[A-Z]|[0-9])*"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- The definition of SBase follows. -->
  <xs:complexType name="SBase.datatype">
    <xs:annotation>
      <xs:documentation>The SBase type is the base type of all main components in SBML. It supports attaching metadata, notes and annotations to components.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="notes" type="notes.datatype"/>
      <xs:element minOccurs="0" name="annotation" type="annotation.datatype"/>
      <xs:any namespace="##other" processContents="skip"/>
    </xs:sequence>
    <xs:attribute name="metaid" type="xs:ID"/>
    <xs:attribute name="sboTerm" type="SBOTerm.datatype"/>
    <xs:anyAttribute namespace="##other" processContents="skip"/>
  </xs:complexType>
  <xs:complexType mixed="true" name="notes.datatype">
    <xs:group ref="xhtml.datatype"/>
  </xs:complexType>

  <!--  The following is the type definition for the top-level element in an SBML document. -->
  <xs:complexType name="sbml.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element name="model" type="model.datatype"/>
        </xs:sequence>
        <xs:attribute name="level" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:positiveInteger">
              <xs:enumeration value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="version" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:positiveInteger">
              <xs:enumeration value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="model.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element minOccurs="0" name="listOfPackages" type="listOfPackages.datatype"/>
          <xs:element minOccurs="0" name="listOfFunctionDefinitions" type="listOfFunctions.datatype"/>
          <xs:element minOccurs="0" name="listOfUnitDefinitions"
            type="listOfUnitDefinitions.datatype"/>
          <xs:element minOccurs="0" name="listOfCompartments" type="listOfCompartments.datatype"/>
          <xs:element minOccurs="0" name="listOfSpecies" type="listOfSpecies.datatype"/>
          <xs:element minOccurs="0" name="listOfParameters" type="listOfParameters.datatype"/>
          <xs:element minOccurs="0" name="listOfInitialAssignments"
            type="listOfInitialAssignments.datatype"/>
          <xs:element minOccurs="0" name="listOfRules" type="listOfRules.datatype"/>
          <xs:element minOccurs="0" name="listOfConstraints" type="listOfConstraints.datatype"/>
          <xs:element minOccurs="0" name="listOfReactions" type="listOfReactions.datatype"/>
          <xs:element minOccurs="0" name="listOfEvents" type="listOfEvents.datatype"/>
        </xs:sequence>
        <xs:attribute name="id" type="SId.datatype"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="timeUnits" type="unitIdRef.datatype"/>
        <xs:attribute name="lengthUnits" type="unitIdRef.datatype"/>
        <xs:attribute name="areaUnits" type="unitIdRef.datatype"/>
        <xs:attribute name="volumeUnits" type="unitIdRef.datatype"/>
        <xs:attribute name="substanceUnits" type="unitIdRef.datatype"/>
        <xs:attribute name="extendUnits" type="unitIdRef.datatype"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listOfPackages.datatype">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="package" type="package.datatype"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="package.datatype">
    <xs:attribute name="namespace" use="required" type="xs:string"/>
    <xs:attribute name="required" use="required" type="xs:boolean"/>
  </xs:complexType>
  <xs:complexType name="listOfFunctions.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="functionDefinition"
            type="functionDefinition.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="functionDefinition.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:group ref="math.datatype"/>
        <xs:attribute name="id" use="required" type="SId.datatype"/>
        <xs:attribute name="name" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listOfUnitDefinitions.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="unitDefinition" type="unitDefinition.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="unitDefinition.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element minOccurs="0" name="listOfUnits" type="listOfUnits.datatype"/>
        </xs:sequence>
        <xs:attribute name="id" use="required" type="nonBaseUnitId.datatype"/>
        <xs:attribute name="name" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listOfUnits.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="unit" type="unit.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="unit.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:attribute use="required" name="kind" type="baseUnitId.datatype"/>
        <xs:attribute use="required" name="exponent" type="xs:double"/>
        <xs:attribute use="required" name="scale" type="xs:int"/>
        <xs:attribute use="required" name="multiplier" type="xs:double"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listOfCompartments.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="compartment" type="compartment.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="compartment.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:attribute use="required" name="id" type="SId.datatype"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="spatialDimensions" type="xs:double"/>
        <xs:attribute name="size" type="xs:double"/>
        <xs:attribute name="units" type="unitIdRef.datatype"/>
        <xs:attribute use="required" name="constant" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listOfSpecies.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="species" type="species.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="species.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:attribute use="required" name="id" type="SId.datatype"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute use="required" name="compartment" type="SIdRef.datatype"/>
        <xs:attribute name="initialAmount" type="xs:double"/>
        <xs:attribute name="initialConcentration" type="xs:double"/>
        <xs:attribute name="substanceUnits" type="unitIdRef.datatype"/>
        <xs:attribute use="required" name="hasOnlySubstanceUnits" type="xs:boolean"/>
        <xs:attribute use="required" name="boundaryCondition" type="xs:boolean"/>
        <xs:attribute use="required" name="constant" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listOfParameters.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="parameter" type="parameter.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="parameter.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:attribute use="required" name="id" type="SId.datatype"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="value" type="xs:double"/>
        <xs:attribute name="units" type="unitIdRef.datatype"/>
        <xs:attribute use="required" name="constant" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listOfLocalParameters.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="localParameter" type="localParameter.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="localParameter.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:attribute name="id" use="required" type="SId.datatype"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="value" type="xs:double"/>
        <xs:attribute name="units" type="unitIdRef.datatype"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listOfInitialAssignments.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="initialAssignment"
            type="initialAssignment.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="initialAssignment.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:group ref="math.datatype"/>
        <xs:attribute name="symbol" use="required" type="SIdRef.datatype"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listOfRules.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:choice maxOccurs="unbounded">
          <xs:element name="algebraicRule" type="rule.datatype"/>
          <xs:element name="assignmentRule" type="assignmentRule.datatype"/>
          <xs:element name="rateRule" type="rateRule.datatype"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="assignmentRule.datatype">
    <xs:complexContent>
      <xs:extension base="rule.datatype">
        <xs:attribute name="variable" use="required" type="SIdRef.datatype"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="rateRule.datatype">
    <xs:complexContent>
      <xs:extension base="rule.datatype">
        <xs:attribute name="variable" use="required" type="SIdRef.datatype"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="rule.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:group ref="math.datatype"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listOfConstraints.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="constraint" type="constraint.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="constraint.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:group ref="math.datatype"/>
          <xs:element minOccurs="0" name="message" type="message.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType mixed="true" name="message.datatype">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="xhtml.datatype"/>
  </xs:complexType>
  <xs:complexType name="listOfReactions.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="reaction" type="reaction.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="reaction.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element minOccurs="0" name="listOfReactants" type="listOfSpeciesReferences.datatype"/>
          <xs:element minOccurs="0" name="listOfProducts" type="listOfSpeciesReferences.datatype"/>
          <xs:element minOccurs="0" name="listOfModifiers" type="listOfModifiers.datatype"/>
          <xs:element minOccurs="0" name="kineticLaw" type="kineticLaw.datatype"/>
        </xs:sequence>
        <xs:attribute name="id" use="required" type="SId.datatype"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="reversible" type="xs:boolean"/>
        <xs:attribute name="fast" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listOfModifiers.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="modifierSpeciesReference"
            type="simpleSpeciesReference.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listOfSpeciesReferences.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="speciesReference" type="speciesReference.datatype"
          />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="speciesReference.datatype">
    <xs:complexContent>
      <xs:extension base="simpleSpeciesReference.datatype">
        <xs:attribute name="stoichiometry" type="xs:double" use="required"/>
        <xs:attribute name="conversionFactor" type="SIdRef.datatype"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="simpleSpeciesReference.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:attribute name="id" type="SId.datatype"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="species" use="required" type="SIdRef.datatype"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="kineticLaw.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:group ref="math.datatype"/>
          <xs:element minOccurs="0" name="listOfLocalParameters"
            type="listOfLocalParameters.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listOfEvents.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element name="event" maxOccurs="unbounded" type="event.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="event.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element name="trigger" type="trigger.datatype"/>
          <xs:element minOccurs="0" name="delay" type="delay.datatype"/>
          <xs:element minOccurs="0" name="listOfEventAssignments"
            type="listOfEventAssignments.datatype"/>
        </xs:sequence>
        <xs:attribute name="id" type="SId.datatype"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute use="required" name="useValuesFromTriggerTime" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="trigger.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:group ref="math.datatype"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="delay.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:group ref="math.datatype"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listOfEventAssignments.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="eventAssignment" type="eventAssignment.datatype"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="eventAssignment.datatype">
    <xs:complexContent>
      <xs:extension base="SBase.datatype">
        <xs:group ref="math.datatype"/>
        <xs:attribute name="variable" use="required" type="SIdRef.datatype"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- The following is the (only) top-level element allowed in an SBML document. -->
  <xs:element name="sbml" type="sbml.datatype"/>
  <!-- The end. -->
</xs:schema>
