sbml-mathml/sbml-mathml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Andrew Finney (University of Hertfordshire Biocomputation Research Group, STRC) -->
<!--/**
 * Filename    : restricted-math.xsd
 * Description : schema for the MathML subset used by SBML L3+, specifically designed to work with JAXB
 * Author(s)   : SBML Development Group <sbml-team@caltech.edu>
 * Organization: University of Hertfordshire STRC
 * Created     : 2003-10-9
 * Revision    : $Id$
 * Source      : $Source$
 *
 * Copyright 2003 California Institute of Technology, the Japan Science
 * and Technology Corporation, and the University of Hertfordshire
 *
 * This library is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as published
 * by the Free Software Foundation; either version 2.1 of the License, or
 * any later version.
 *
 * This library is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY, WITHOUT EVEN THE IMPLIED WARRANTY OF
 * MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.  The software and
 * documentation provided hereunder is on an "as is" basis, and the
 * California Institute of Technology, the Japan Science and Technology
 * Corporation, and the University of Hertfordshire have no obligations to
 * provide maintenance, support, updates, enhancements or modifications.  In
 * no event shall the California Institute of Technology, the Japan Science
 * and Technology Corporation or the University of Hertfordshire be liable
 * to any party for direct, indirect, special, incidental or consequential
 * damages, including lost profits, arising out of the use of this software
 * and its documentation, even if the California Institute of Technology
 * and/or Japan Science and Technology Corporation and/or University of
 * Hertfordshire have been advised of the possibility of such damage.  See
 * the GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this library; if not, write to the Free Software Foundation,
 * Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA.
 *
 * The original code contained here was initially developed by:
 *
 *     Andrew Finney
 *     Science and Technology Research Centre
 *     University of Hertfordshire
 *     Hatfield, AL10 9AB
 *     United Kingdom
 *
 *     http://www.sbml.org
 *     mailto:sbml-team@caltech.edu
 *
 * Contributor(s):
 */
-->
<xs:schema targetNamespace="http://www.w3.org/1998/Math/MathML" xmlns="http://www.w3.org/1998/Math/MathML" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:attributeGroup name="MathAttributes">
		<xs:attribute name="class" type="xs:NMTOKENS" use="optional"/>
		<xs:attribute name="style" type="xs:string" use="optional"/>
		<xs:attribute name="id" type="xs:ID" use="optional"/>
	</xs:attributeGroup>
	<xs:complexType name="MathBase">
		<xs:attributeGroup ref="MathAttributes"/>
	</xs:complexType>
	<xs:complexType name="Ci">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="MathAttributes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CnType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="e-notation"/>
			<xs:enumeration value="real"/>
			<xs:enumeration value="integer"/>
			<xs:enumeration value="rational"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Cn" mixed="true">
		<xs:sequence>
			<xs:element name="sep" type="MathBase"/>
		</xs:sequence>
		<xs:attribute name="type" type="CnType" use="optional" default="real"/>
		<xs:attributeGroup ref="MathAttributes"/>
	</xs:complexType>
	<xs:simpleType name="CsymbolURI">
		<xs:restriction base="xs:string">
			<xs:enumeration value="http://www.sbml.org/sbml/symbols/arrayselector"/>
			<xs:enumeration value="http://www.sbml.org/sbml/symbols/time"/>
			<xs:enumeration value="http://www.sbml.org/sbml/symbols/delay"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Csymbol">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="encoding" use="required" fixed="text"/>
				<xs:attribute name="definitionURL" type="CsymbolURI" use="required"/>
				<xs:attributeGroup ref="MathAttributes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NodeContainer">
		<xs:complexContent>
			<xs:extension base="MathBase">
				<xs:sequence>
					<xs:group ref="Node"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Apply">
		<xs:complexContent>
			<xs:extension base="MathBase">
				<xs:sequence>
					<xs:choice>
						<xs:element name="ci" type="Ci"/>
						<xs:element name="csymbol" type="Csymbol"/>
						<xs:element name="eq" type="MathBase"/>
						<xs:element name="neq" type="MathBase"/>
						<xs:element name="gt" type="MathBase"/>
						<xs:element name="lt" type="MathBase"/>
						<xs:element name="geq" type="MathBase"/>
						<xs:element name="leq" type="MathBase"/>
						<xs:element name="plus" type="MathBase"/>
						<xs:element name="minus" type="MathBase"/>
						<xs:element name="times" type="MathBase"/>
						<xs:element name="divide" type="MathBase"/>
						<xs:element name="power" type="MathBase"/>
						<xs:sequence>
							<xs:element name="root" type="MathBase"/>
							<xs:element name="degree" type="NodeContainer" minOccurs="0"/>
						</xs:sequence>
						<xs:element name="abs" type="MathBase"/>
						<xs:element name="exp" type="MathBase"/>
						<xs:element name="ln" type="MathBase"/>
						<xs:sequence>
							<xs:element name="log" type="MathBase"/>
							<xs:element name="logbase" type="NodeContainer" minOccurs="0"/>
						</xs:sequence>
						<xs:element name="floor" type="MathBase"/>
						<xs:element name="ceiling" type="MathBase"/>
						<xs:element name="factorial" type="MathBase"/>
						<xs:element name="and" type="MathBase"/>
						<xs:element name="or" type="MathBase"/>
						<xs:element name="xor" type="MathBase"/>
						<xs:element name="not" type="MathBase"/>
						<xs:element name="sin" type="MathBase"/>
						<xs:element name="cos" type="MathBase"/>
						<xs:element name="tan" type="MathBase"/>
						<xs:element name="sec" type="MathBase"/>
						<xs:element name="csc" type="MathBase"/>
						<xs:element name="cot" type="MathBase"/>
						<xs:element name="sinh" type="MathBase"/>
						<xs:element name="cosh" type="MathBase"/>
						<xs:element name="tanh" type="MathBase"/>
						<xs:element name="sech" type="MathBase"/>
						<xs:element name="csch" type="MathBase"/>
						<xs:element name="coth" type="MathBase"/>
						<xs:element name="arcsin" type="MathBase"/>
						<xs:element name="arccos" type="MathBase"/>
						<xs:element name="arctan" type="MathBase"/>
						<xs:element name="arcsec" type="MathBase"/>
						<xs:element name="arccsc" type="MathBase"/>
						<xs:element name="arccot" type="MathBase"/>
						<xs:element name="arcsinh" type="MathBase"/>
						<xs:element name="arccosh" type="MathBase"/>
						<xs:element name="arctanh" type="MathBase"/>
						<xs:element name="arcsech" type="MathBase"/>
						<xs:element name="arccsch" type="MathBase"/>
						<xs:element name="arccoth" type="MathBase"/>
					</xs:choice>
					<xs:sequence maxOccurs="unbounded">
						<xs:group ref="Node"/>
					</xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Otherwise">
		<xs:complexContent>
			<xs:extension base="MathBase">
				<xs:group ref="Node"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Piece">
		<xs:complexContent>
			<xs:extension base="MathBase">
				<xs:sequence minOccurs="2" maxOccurs="2">
					<xs:group ref="Node"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Piecewise">
		<xs:complexContent>
			<xs:extension base="MathBase">
				<xs:choice maxOccurs="unbounded">
					<xs:element name="piece" type="Piece"/>
					<xs:element name="otherwise" type="Otherwise"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:attributeGroup name="AnnotationAttributes">
		<xs:attributeGroup ref="MathAttributes"/>
		<xs:attribute name="encoding" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<xs:complexType name="Annotation">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="AnnotationAttributes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Annotation-xml">
		<xs:sequence maxOccurs="unbounded">
			<xs:any processContents="skip"/>
		</xs:sequence>
		<xs:attributeGroup ref="AnnotationAttributes"/>
	</xs:complexType>
	<xs:complexType name="Semantics">
		<xs:complexContent>
			<xs:extension base="MathBase">
				<xs:sequence>
					<xs:group ref="Node"/>
					<xs:sequence maxOccurs="unbounded">
						<xs:choice>
							<xs:element name="annotation" type="Annotation"/>
							<xs:element name="annotation-xml" type="Annotation-xml"/>
						</xs:choice>
					</xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="Node">
		<xs:choice>
			<xs:element name="apply" type="Apply"/>
			<xs:element name="cn" type="Cn"/>
			<xs:element name="ci" type="Ci"/>
			<xs:element name="csymbol" type="Csymbol"/>
			<xs:element name="true" type="MathBase"/>
			<xs:element name="false" type="MathBase"/>
			<xs:element name="notanumber" type="MathBase"/>
			<xs:element name="pi" type="MathBase"/>
			<xs:element name="infinity" type="MathBase"/>
			<xs:element name="exponentiale" type="MathBase"/>
			<xs:element name="semantics" type="Semantics"/>
			<xs:element name="piecewise" type="Piecewise"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="Bvar">
		<xs:complexContent>
			<xs:extension base="MathBase">
				<xs:sequence>
					<xs:element name="ci" type="Ci"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Lambda">
		<xs:complexContent>
			<xs:extension base="MathBase">
				<xs:sequence>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="bvar" type="Bvar"/>
					</xs:sequence>
					<xs:group ref="Node"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Math">
		<xs:sequence>
			<xs:choice>
				<xs:group ref="Node"/>
				<xs:element name="lambda" type="Lambda"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="math" type="Math"/>
</xs:schema>
