sbml-level-2/version-1/dtd/sbml-l2v1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
File name         : sbml-l2v1.dtd
Description       : DTD for SBML Level 2 Version 1
Original author(s): Michael Hucka <mhucka@caltech.edu>
Organization      : California Institute of Technology
$Id$
$Source$

Copyright 2003-2006 California Institute of Technology.  

This software is licensed according to the terms described in the 
file named "LICENSE.txt" included with this distribution and 
available online at http://sbml.org/xml-schemas/LICENSE.txt

Summary:

This is an experimental DTD corresponding to the XML Schema for
SBML Level 2 Version 1.  It was generated using XMLSpy v2005
rel. 3 U (http://www.altova.com) and then modified by hand.  This
DTD includes the MathML subset schema used in SBML Level 2
Version 1 and this file is therefore (in theory) self-contained.

This DTD does not correspond exactly to the SBML XML Schema in at
least one respect: it does not define an element 'annotation'
that can be used with MathML content.  The reason is that there
is an SBML element named 'annotation' with different properties,
and at the time of creation of this DTD, we could not find a way
to provide namespace handling in the DTD such that MathML content
could use a different definition of 'annotation'.

This DTD has received only minimal testing.  We distribute this
with no guarantees whatsoever, but we will endeavor to
incorporate changes based on feedback and user experiences.

Please contact sbml-team@caltech.edu with your feedback.
-->

<!--the entity declarations may be overridden in the internal subset-->
<!--namespace prefixes-->
<!ENTITY % default_NS_1 "default_NS_1">
<!ENTITY % mml "mml">
<!--namespace prefix to namespace uri mappings-->
<!ENTITY % default_NS_1_prefix "">
<!ENTITY % mml_prefix "%mml;:">
<!--namespaces attributes for root element-->
<!ENTITY % documentElementAttributes " xmlns CDATA #IMPLIED xmlns:%mml; CDATA #IMPLIED">
<!--the declarations below should not be modified-->
<!--element name mappings-->
<!ENTITY % notes "%default_NS_1_prefix;notes">
<!ENTITY % annotation "%default_NS_1_prefix;annotation">
<!ENTITY % unit "%default_NS_1_prefix;unit">
<!ENTITY % listOfUnits "%default_NS_1_prefix;listOfUnits">
<!ENTITY % parameter "%default_NS_1_prefix;parameter">
<!ENTITY % listOfParameters "%default_NS_1_prefix;listOfParameters">
<!ENTITY % modifierSpeciesReference "%default_NS_1_prefix;modifierSpeciesReference">
<!ENTITY % stoichiometryMath "%default_NS_1_prefix;stoichiometryMath">
<!ENTITY % speciesReference "%default_NS_1_prefix;speciesReference">
<!ENTITY % listOfReactants "%default_NS_1_prefix;listOfReactants">
<!ENTITY % listOfProducts "%default_NS_1_prefix;listOfProducts">
<!ENTITY % listOfModifiers "%default_NS_1_prefix;listOfModifiers">
<!ENTITY % kineticLaw "%default_NS_1_prefix;kineticLaw">
<!ENTITY % eventAssignment "%default_NS_1_prefix;eventAssignment">
<!ENTITY % trigger "%default_NS_1_prefix;trigger">
<!ENTITY % delay "%default_NS_1_prefix;delay">
<!ENTITY % listOfEventAssignments "%default_NS_1_prefix;listOfEventAssignments">
<!ENTITY % listOfFunctionDefinitions "%default_NS_1_prefix;listOfFunctionDefinitions">
<!ENTITY % functionDefinition "%default_NS_1_prefix;functionDefinition">
<!ENTITY % listOfUnitDefinitions "%default_NS_1_prefix;listOfUnitDefinitions">
<!ENTITY % unitDefinition "%default_NS_1_prefix;unitDefinition">
<!ENTITY % listOfCompartments "%default_NS_1_prefix;listOfCompartments">
<!ENTITY % compartment "%default_NS_1_prefix;compartment">
<!ENTITY % listOfSpecies "%default_NS_1_prefix;listOfSpecies">
<!ENTITY % species "%default_NS_1_prefix;species">
<!ENTITY % listOfParameters "%default_NS_1_prefix;listOfParameters">
<!ENTITY % parameter "%default_NS_1_prefix;parameter">
<!ENTITY % listOfRules "%default_NS_1_prefix;listOfRules">
<!ENTITY % algebraicRule "%default_NS_1_prefix;algebraicRule">
<!ENTITY % assignmentRule "%default_NS_1_prefix;assignmentRule">
<!ENTITY % rateRule "%default_NS_1_prefix;rateRule">
<!ENTITY % listOfReactions "%default_NS_1_prefix;listOfReactions">
<!ENTITY % reaction "%default_NS_1_prefix;reaction">
<!ENTITY % listOfEvents "%default_NS_1_prefix;listOfEvents">
<!ENTITY % event "%default_NS_1_prefix;event">
<!ENTITY % model "%default_NS_1_prefix;model">
<!ENTITY % sbml "%default_NS_1_prefix;sbml">
<!ENTITY % sep "%mml_prefix;sep">
<!ENTITY % ci "%mml_prefix;ci">
<!ENTITY % csymbol "%mml_prefix;csymbol">
<!ENTITY % eq "%mml_prefix;eq">
<!ENTITY % neq "%mml_prefix;neq">
<!ENTITY % gt "%mml_prefix;gt">
<!ENTITY % lt "%mml_prefix;lt">
<!ENTITY % geq "%mml_prefix;geq">
<!ENTITY % leq "%mml_prefix;leq">
<!ENTITY % plus "%mml_prefix;plus">
<!ENTITY % minus "%mml_prefix;minus">
<!ENTITY % times "%mml_prefix;times">
<!ENTITY % divide "%mml_prefix;divide">
<!ENTITY % power "%mml_prefix;power">
<!ENTITY % root "%mml_prefix;root">
<!ENTITY % degree "%mml_prefix;degree">
<!ENTITY % abs "%mml_prefix;abs">
<!ENTITY % exp "%mml_prefix;exp">
<!ENTITY % ln "%mml_prefix;ln">
<!ENTITY % log "%mml_prefix;log">
<!ENTITY % logbase "%mml_prefix;logbase">
<!ENTITY % floor "%mml_prefix;floor">
<!ENTITY % ceiling "%mml_prefix;ceiling">
<!ENTITY % factorial "%mml_prefix;factorial">
<!ENTITY % and "%mml_prefix;and">
<!ENTITY % or "%mml_prefix;or">
<!ENTITY % xor "%mml_prefix;xor">
<!ENTITY % not "%mml_prefix;not">
<!ENTITY % sin "%mml_prefix;sin">
<!ENTITY % cos "%mml_prefix;cos">
<!ENTITY % tan "%mml_prefix;tan">
<!ENTITY % sec "%mml_prefix;sec">
<!ENTITY % csc "%mml_prefix;csc">
<!ENTITY % cot "%mml_prefix;cot">
<!ENTITY % sinh "%mml_prefix;sinh">
<!ENTITY % cosh "%mml_prefix;cosh">
<!ENTITY % tanh "%mml_prefix;tanh">
<!ENTITY % sech "%mml_prefix;sech">
<!ENTITY % csch "%mml_prefix;csch">
<!ENTITY % coth "%mml_prefix;coth">
<!ENTITY % arcsin "%mml_prefix;arcsin">
<!ENTITY % arccos "%mml_prefix;arccos">
<!ENTITY % arctan "%mml_prefix;arctan">
<!ENTITY % arcsec "%mml_prefix;arcsec">
<!ENTITY % arccsc "%mml_prefix;arccsc">
<!ENTITY % arccot "%mml_prefix;arccot">
<!ENTITY % arcsinh "%mml_prefix;arcsinh">
<!ENTITY % arccosh "%mml_prefix;arccosh">
<!ENTITY % arctanh "%mml_prefix;arctanh">
<!ENTITY % arcsech "%mml_prefix;arcsech">
<!ENTITY % arccsch "%mml_prefix;arccsch">
<!ENTITY % arccoth "%mml_prefix;arccoth">
<!ENTITY % piece "%mml_prefix;piece">
<!ENTITY % otherwise "%mml_prefix;otherwise">
<!ENTITY % annotation-xml "%mml_prefix;annotation-xml">
<!ENTITY % apply "%mml_prefix;apply">
<!ENTITY % cn "%mml_prefix;cn">
<!ENTITY % ci "%mml_prefix;ci">
<!ENTITY % csymbol "%mml_prefix;csymbol">
<!ENTITY % true "%mml_prefix;true">
<!ENTITY % false "%mml_prefix;false">
<!ENTITY % notanumber "%mml_prefix;notanumber">
<!ENTITY % pi "%mml_prefix;pi">
<!ENTITY % infinity "%mml_prefix;infinity">
<!ENTITY % exponentiale "%mml_prefix;exponentiale">
<!ENTITY % semantics "%mml_prefix;semantics">
<!ENTITY % piecewise "%mml_prefix;piecewise">
<!ENTITY % ci "%mml_prefix;ci">
<!ENTITY % bvar "%mml_prefix;bvar">
<!ENTITY % lambda "%mml_prefix;lambda">
<!ENTITY % math "%mml_prefix;math">
<!--element and attribute declarations-->
<!ELEMENT notes ANY>
<!ELEMENT annotation ANY>
<!ELEMENT unit ((notes)?, (annotation)?)>
<!ATTLIST unit
	metaid ID #IMPLIED
	kind (ampere | becquerel | candela | Celsius | coulomb | dimensionless | farad | gram | gray | henry | hertz | item | joule | katal | kelvin | kilogram | litre | lumen | lux | metre | mole | newton | ohm | pascal | radian | second | siemens | sievert | steradian | tesla | volt | watt | weber) #REQUIRED
	exponent NMTOKEN "1"
	scale NMTOKEN "0"
	multiplier NMTOKEN "1"
	offset NMTOKEN "0"
>
<!ELEMENT listOfUnits (((notes)?, (annotation)?), ((unit)+))>
<!ATTLIST listOfUnits
	metaid ID #IMPLIED
>
<!ELEMENT parameter ((notes)?, (annotation)?)>
<!ATTLIST parameter
	metaid ID #IMPLIED
	id CDATA #REQUIRED
	name CDATA #IMPLIED
	value NMTOKEN #IMPLIED
	units CDATA #IMPLIED
	constant NMTOKEN "true"
>
<!ELEMENT listOfParameters (((notes)?, (annotation)?), ((parameter)+))>
<!ATTLIST listOfParameters
	metaid ID #IMPLIED
>
<!ELEMENT modifierSpeciesReference ((notes)?, (annotation)?)>
<!ATTLIST modifierSpeciesReference
	metaid ID #IMPLIED
	species CDATA #REQUIRED
>
<!ELEMENT stoichiometryMath (((notes)?, (annotation)?), (math))>
<!ATTLIST stoichiometryMath
	metaid ID #IMPLIED
>
<!ELEMENT speciesReference (((notes)?, (annotation)?), ((stoichiometryMath)?))>
<!ATTLIST speciesReference
	metaid ID #IMPLIED
	species CDATA #REQUIRED
	stoichiometry NMTOKEN "1"
>
<!ELEMENT listOfReactants (((notes)?, (annotation)?), ((speciesReference)+))>
<!ATTLIST listOfReactants
	metaid ID #IMPLIED
>
<!ELEMENT listOfProducts (((notes)?, (annotation)?), ((speciesReference)+))>
<!ATTLIST listOfProducts
	metaid ID #IMPLIED
>
<!ELEMENT listOfModifiers (((notes)?, (annotation)?), ((modifierSpeciesReference)+))>
<!ATTLIST listOfModifiers
	metaid ID #IMPLIED
>
<!ELEMENT kineticLaw (((notes)?, (annotation)?), (math, (listOfParameters)?))>
<!ATTLIST kineticLaw
	metaid ID #IMPLIED
	timeUnits CDATA #IMPLIED
	substanceUnits CDATA #IMPLIED
>
<!ELEMENT eventAssignment (((notes)?, (annotation)?), (math))>
<!ATTLIST eventAssignment
	metaid ID #IMPLIED
	variable CDATA #REQUIRED
>
<!ELEMENT trigger (((notes)?, (annotation)?), (math))>
<!ATTLIST trigger
	metaid ID #IMPLIED
>
<!ELEMENT delay (((notes)?, (annotation)?), (math))>
<!ATTLIST delay
	metaid ID #IMPLIED
>
<!ELEMENT listOfEventAssignments (((notes)?, (annotation)?), ((eventAssignment)+))>
<!ATTLIST listOfEventAssignments
	metaid ID #IMPLIED
>
<!ELEMENT listOfFunctionDefinitions (((notes)?, (annotation)?), ((functionDefinition)+))>
<!ATTLIST listOfFunctionDefinitions
	metaid ID #IMPLIED
>
<!ELEMENT functionDefinition (((notes)?, (annotation)?), (math))>
<!ATTLIST functionDefinition
	metaid ID #IMPLIED
	id CDATA #REQUIRED
	name CDATA #IMPLIED
>
<!ELEMENT listOfUnitDefinitions (((notes)?, (annotation)?), ((unitDefinition)+))>
<!ATTLIST listOfUnitDefinitions
	metaid ID #IMPLIED
>
<!ELEMENT unitDefinition (((notes)?, (annotation)?), (listOfUnits))>
<!ATTLIST unitDefinition
	metaid ID #IMPLIED
	id CDATA #REQUIRED
	name CDATA #IMPLIED
>
<!ELEMENT listOfCompartments (((notes)?, (annotation)?), ((compartment)+))>
<!ATTLIST listOfCompartments
	metaid ID #IMPLIED
>
<!ELEMENT compartment ((notes)?, (annotation)?)>
<!ATTLIST compartment
	metaid ID #IMPLIED
	id CDATA #REQUIRED
	name CDATA #IMPLIED
	size NMTOKEN #IMPLIED
	spatialDimensions NMTOKEN "3"
	units CDATA #IMPLIED
	outside CDATA #IMPLIED
	constant NMTOKEN "true"
>
<!ELEMENT listOfSpecies (((notes)?, (annotation)?), ((species)+))>
<!ATTLIST listOfSpecies
	metaid ID #IMPLIED
>
<!ELEMENT species ((notes)?, (annotation)?)>
<!ATTLIST species
	metaid ID #IMPLIED
	id CDATA #REQUIRED
	name CDATA #IMPLIED
	compartment CDATA #IMPLIED
	initialAmount NMTOKEN #IMPLIED
	initialConcentration NMTOKEN #IMPLIED
	substanceUnits CDATA #IMPLIED
	spatialSizeUnits CDATA #IMPLIED
	hasOnlySubstanceUnits NMTOKEN "false"
	boundaryCondition NMTOKEN "false"
	charge NMTOKEN #IMPLIED
	constant NMTOKEN "false"
>
<!ELEMENT listOfRules (((notes)?, (annotation)?), ((algebraicRule)? | (assignmentRule)? | (rateRule)?)+)>
<!ATTLIST listOfRules
	metaid ID #IMPLIED
>
<!ELEMENT algebraicRule (((notes)?, (annotation)?), (math))>
<!ATTLIST algebraicRule
	metaid ID #IMPLIED
>
<!ELEMENT assignmentRule (((notes)?, (annotation)?), (math))>
<!ATTLIST assignmentRule
	metaid ID #IMPLIED
	variable CDATA #REQUIRED
>
<!ELEMENT rateRule (((notes)?, (annotation)?), (math))>
<!ATTLIST rateRule
	metaid ID #IMPLIED
	variable CDATA #REQUIRED
>
<!ELEMENT listOfReactions (((notes)?, (annotation)?), ((reaction)+))>
<!ATTLIST listOfReactions
	metaid ID #IMPLIED
>
<!ELEMENT reaction (((notes)?, (annotation)?), ((listOfReactants)?, (listOfProducts)?, (listOfModifiers)?, (kineticLaw)?))>
<!ATTLIST reaction
	metaid ID #IMPLIED
	id CDATA #REQUIRED
	name CDATA #IMPLIED
	reversible NMTOKEN "true"
	fast NMTOKEN #IMPLIED
>
<!ELEMENT listOfEvents (((notes)?, (annotation)?), ((event)+))>
<!ATTLIST listOfEvents
	metaid ID #IMPLIED
>
<!ELEMENT event (((notes)?, (annotation)?), (trigger, (delay)?, listOfEventAssignments))>
<!ATTLIST event
	metaid ID #IMPLIED
	id CDATA #IMPLIED
	name CDATA #IMPLIED
	timeUnits CDATA #IMPLIED
>
<!ELEMENT model (((notes)?, (annotation)?), ((listOfFunctionDefinitions)?, (listOfUnitDefinitions)?, (listOfCompartments)?, (listOfSpecies)?, (listOfParameters)?, (listOfRules)?, (listOfReactions)?, (listOfEvents)?))>
<!ATTLIST model
	metaid ID #IMPLIED
	id CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT sbml (((notes)?, (annotation)?), (model))>
<!ATTLIST sbml
	metaid ID #IMPLIED
	level NMTOKEN #FIXED "2"
	version NMTOKEN #FIXED "1"
	%documentElementAttributes; 
>
<!ELEMENT sep EMPTY>
<!ELEMENT ci (#PCDATA)>
<!ATTLIST ci
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT csymbol (#PCDATA)>
<!ATTLIST csymbol
	encoding CDATA #FIXED "text"
	definitionURL CDATA #REQUIRED
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT eq EMPTY>
<!ATTLIST eq
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT neq EMPTY>
<!ATTLIST neq
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT gt EMPTY>
<!ATTLIST gt
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT lt EMPTY>
<!ATTLIST lt
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT geq EMPTY>
<!ATTLIST geq
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT leq EMPTY>
<!ATTLIST leq
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT plus EMPTY>
<!ATTLIST plus
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT minus EMPTY>
<!ATTLIST minus
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT times EMPTY>
<!ATTLIST times
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT divide EMPTY>
<!ATTLIST divide
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT power EMPTY>
<!ATTLIST power
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT root EMPTY>
<!ATTLIST root
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT degree (apply | cn | ci | csymbol | true | false | notanumber | pi | infinity | exponentiale | semantics | piecewise)>
<!ATTLIST degree
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT abs EMPTY>
<!ATTLIST abs
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT exp EMPTY>
<!ATTLIST exp
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT ln EMPTY>
<!ATTLIST ln
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT log EMPTY>
<!ATTLIST log
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT logbase (apply | cn | ci | csymbol | true | false | notanumber | pi | infinity | exponentiale | semantics | piecewise)>
<!ATTLIST logbase
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT floor EMPTY>
<!ATTLIST floor
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT ceiling EMPTY>
<!ATTLIST ceiling
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT factorial EMPTY>
<!ATTLIST factorial
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT and EMPTY>
<!ATTLIST and
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT or EMPTY>
<!ATTLIST or
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT xor EMPTY>
<!ATTLIST xor
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT not EMPTY>
<!ATTLIST not
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT sin EMPTY>
<!ATTLIST sin
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT cos EMPTY>
<!ATTLIST cos
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT tan EMPTY>
<!ATTLIST tan
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT sec EMPTY>
<!ATTLIST sec
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT csc EMPTY>
<!ATTLIST csc
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT cot EMPTY>
<!ATTLIST cot
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT sinh EMPTY>
<!ATTLIST sinh
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT cosh EMPTY>
<!ATTLIST cosh
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT tanh EMPTY>
<!ATTLIST tanh
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT sech EMPTY>
<!ATTLIST sech
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT csch EMPTY>
<!ATTLIST csch
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT coth EMPTY>
<!ATTLIST coth
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT arcsin EMPTY>
<!ATTLIST arcsin
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT arccos EMPTY>
<!ATTLIST arccos
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT arctan EMPTY>
<!ATTLIST arctan
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT arcsec EMPTY>
<!ATTLIST arcsec
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT arccsc EMPTY>
<!ATTLIST arccsc
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT arccot EMPTY>
<!ATTLIST arccot
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT arcsinh EMPTY>
<!ATTLIST arcsinh
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT arccosh EMPTY>
<!ATTLIST arccosh
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT arctanh EMPTY>
<!ATTLIST arctanh
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT arcsech EMPTY>
<!ATTLIST arcsech
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT arccsch EMPTY>
<!ATTLIST arccsch
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT arccoth EMPTY>
<!ATTLIST arccoth
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT piece ((apply | cn | ci | csymbol | true | false | notanumber | pi | infinity | exponentiale | semantics | piecewise), (apply | cn | ci | csymbol | true | false | notanumber | pi | infinity | exponentiale | semantics | piecewise))>
<!ATTLIST piece
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT otherwise (apply | cn | ci | csymbol | true | false | notanumber | pi | infinity | exponentiale | semantics | piecewise)>
<!ATTLIST otherwise
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT annotation-xml (#PCDATA)>
<!ATTLIST annotation-xml
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
	encoding CDATA #REQUIRED
>
<!ELEMENT apply ((ci | csymbol | eq | neq | gt | lt | geq | leq | plus | minus | times | divide | power | (root, (degree)?) | abs | exp | ln | (log, (logbase)?) | floor | ceiling | factorial | and | or | xor | not | sin | cos | tan | sec | csc | cot | sinh | cosh | tanh | sech | csch | coth | arcsin | arccos | arctan | arcsec | arccsc | arccot | arcsinh | arccosh | arctanh | arcsech | arccsch | arccoth), (apply | cn | ci | csymbol | true | false | notanumber | pi | infinity | exponentiale | semantics | piecewise)+)>
<!ATTLIST apply
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT cn (#PCDATA | sep)*>
<!ATTLIST cn
	type (e-notation | integer | rational | real) #IMPLIED
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT true EMPTY>
<!ATTLIST true
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT false EMPTY>
<!ATTLIST false
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT notanumber EMPTY>
<!ATTLIST notanumber
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT pi EMPTY>
<!ATTLIST pi
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT infinity EMPTY>
<!ATTLIST infinity
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT exponentiale EMPTY>
<!ATTLIST exponentiale
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT semantics ((apply | cn | ci | csymbol | true | false | notanumber | pi | infinity | exponentiale | semantics | piecewise), ((annotation | annotation-xml))+)>
<!ATTLIST semantics
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT piecewise ((piece)*, (otherwise)?)>
<!ATTLIST piecewise
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT bvar (ci)>
<!ATTLIST bvar
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT lambda ((bvar)*, (apply | cn | ci | csymbol | true | false | notanumber | pi | infinity | exponentiale | semantics | piecewise))>
<!ATTLIST lambda
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
>
<!ELEMENT math ((apply | cn | ci | csymbol | true | false | notanumber | pi | infinity | exponentiale | semantics | piecewise) | lambda)>
<!ATTLIST math
	class CDATA #IMPLIED
	style CDATA #IMPLIED
	id ID #IMPLIED
	%documentElementAttributes; 
>
