RelaxNG/sbml-core/sbml-core.rng

<?xml version="1.0" encoding="UTF-8"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  ns="http://www.sbml.org/sbml/level3/version1/core"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  
  <!-- The following is the type definition for the top-level element in an SBML document.-->
  <!--The following is the (only) top-level element allowed in an SBML document.-->
  <start>
    <element name="sbml">
      <ref name="sbml.datatype"/>
    </element>
  </start>
  
  
  <define name="sbml.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <element name="model">
        <ref name="model.datatype"/>
      </element>
    </interleave>
    <attribute name="level">
      <value type="positiveInteger">3</value>
    </attribute>
    <attribute name="version">
      <value type="positiveInteger">1</value>
    </attribute>
  </define>

  <define name="model.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <element name="listOfFunctionDefinitions">
          <ref name="listOfFunctions.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfUnitDefinitions">
          <ref name="listOfUnitDefinitions.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfCompartments">
          <ref name="listOfCompartments.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfSpecies">
          <ref name="listOfSpecies.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfParameters">
          <ref name="listOfParameters.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfInitialAssignments">
          <ref name="listOfInitialAssignments.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfRules">
          <ref name="listOfRules.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfConstraints">
          <ref name="listOfConstraints.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfReactions">
          <ref name="listOfReactions.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfEvents">
          <ref name="listOfEvents.datatype"/>
        </element>
      </optional>
    </interleave>
    <optional>
      <attribute name="id">
        <ref name="SId.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="timeUnits">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="lengthUnits">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="areaUnits">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="volumeUnits">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="substanceUnits">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="extentUnits">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="conversionFactor">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </optional>
  </define>

  <define name="listOfFunctions.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="functionDefinition">
          <ref name="functionDefinition.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="functionDefinition.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <ref name="math.datatype"/>
    </interleave>
    <attribute name="id">
      <ref name="SId.simpleType"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
  </define>

  <define name="listOfUnitDefinitions.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="unitDefinition">
          <ref name="unitDefinition.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="unitDefinition.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <element name="listOfUnits">
          <ref name="listOfUnits.datatype"/>
        </element>
      </optional>
    </interleave>
    <attribute name="id">
      <ref name="NonBaseUnitSId.simpleType"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
  </define>

  <define name="listOfUnits.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="unit">
          <ref name="unit.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="unit.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
    </interleave>
    <attribute name="kind">
      <ref name="BaseUnitSIdRef.simpleType"/>
    </attribute>
    <attribute name="exponent">
      <data type="double"/>
    </attribute>
    <attribute name="scale">
      <data type="int"/>
    </attribute>
    <attribute name="multiplier">
      <data type="double"/>
    </attribute>
  </define>

  <define name="listOfCompartments.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="compartment">
          <ref name="compartment.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="compartment.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
    </interleave>
    <attribute name="id">
      <ref name="SId.simpleType"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="spatialDimensions">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="size">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="units">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <attribute name="constant">
      <data type="boolean"/>
    </attribute>
  </define>

  <define name="listOfSpecies.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="species">
          <ref name="species.datatype"/>
        </element>
      </oneOrMore>
     </interleave>
  </define>

  <define name="species.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
    </interleave>
    <attribute name="id">
      <ref name="SId.simpleType"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <attribute name="compartment">
      <ref name="SIdRef.simpleType"/>
    </attribute>
    <optional>
      <attribute name="initialAmount">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="initialConcentration">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="substanceUnits">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <attribute name="hasOnlySubstanceUnits">
      <data type="boolean"/>
    </attribute>
    <optional>
      <attribute name="conversionFactor">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </optional>
    <attribute name="boundaryCondition">
      <data type="boolean"/>
    </attribute>
    <attribute name="constant">
      <data type="boolean"/>
    </attribute>
  </define>

  <define name="listOfParameters.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="parameter">
          <ref name="parameter.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="parameter.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
    </interleave>
    <attribute name="id">
      <ref name="SId.simpleType"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="value">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="units">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
    <attribute name="constant">
      <data type="boolean"/>
    </attribute>
  </define>

  <define name="listOfLocalParameters.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="localParameter">
          <ref name="localParameter.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="localParameter.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
    </interleave>
    <attribute name="id">
      <ref name="SId.simpleType"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="value">
        <data type="double"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="units">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>
    </optional>
  </define>

  <define name="listOfInitialAssignments.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="initialAssignment">
          <ref name="initialAssignment.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="initialAssignment.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <ref name="math.datatype"/>
    </interleave>
    <attribute name="symbol">
      <ref name="SIdRef.simpleType"/>
    </attribute>
  </define>

  <define name="listOfRules.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <choice>
          <element name="algebraicRule">
            <ref name="rule.datatype"/>
          </element>
          <element name="assignmentRule">
            <ref name="targetedRule.datatype"/>
          </element>
          <element name="rateRule">
            <ref name="targetedRule.datatype"/>
          </element>
        </choice>
      </oneOrMore>
    </interleave>
  </define>

  <define name="rule.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <ref name="math.datatype"/>
    </interleave>
  </define>
  
  <define name="targetedRule.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <ref name="math.datatype"/>
    </interleave>
    <attribute name="variable">
      <ref name="SIdRef.simpleType"/>
    </attribute>
  </define>
  
  <define name="listOfConstraints.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="constraint">
          <ref name="constraint.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="constraint.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <ref name="math.datatype"/>
      <optional>
        <element name="message">
          <zeroOrMore>
            <ref name="xhtml.datatype"/>
          </zeroOrMore>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="listOfReactions.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="reaction">
          <ref name="reaction.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="reaction.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <element name="listOfReactants">
          <ref name="listOfSpeciesReferences.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfProducts">
          <ref name="listOfSpeciesReferences.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfModifiers">
          <ref name="listOfModifierSpeciesReferences.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="kineticLaw">
          <ref name="kineticLaw.datatype"/>
        </element>
      </optional>
    </interleave>
    <attribute name="id">
      <ref name="SId.simpleType"/>
    </attribute>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <attribute name="reversible">
      <data type="boolean"/>
    </attribute>
    <attribute name="fast">
      <data type="boolean"/>
    </attribute>
    <optional>
      <attribute name="compartment">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </optional>
  </define>

  <define name="listOfSpeciesReferences.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="speciesReference">
          <ref name="speciesReference.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="listOfModifierSpeciesReferences.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="modifierSpeciesReference">
          <ref name="simpleSpeciesReference.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="speciesReference.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
    </interleave>
    <optional>
      <attribute name="id">
        <ref name="SId.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <attribute name="species">
      <ref name="SIdRef.simpleType"/>
    </attribute>
    <optional>
      <attribute name="stoichiometry">
        <data type="double"/>
      </attribute>      
    </optional>
    <attribute name="constant">
      <data type="boolean"/>
    </attribute>
  </define>

  <define name="simpleSpeciesReference.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
    </interleave>
    <optional>
      <attribute name="id">
        <ref name="SId.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <attribute name="species">
      <ref name="SIdRef.simpleType"/>
    </attribute>
  </define>

  <define name="kineticLaw.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <element name="listOfLocalParameters">
          <ref name="listOfLocalParameters.datatype"/>
        </element>
      </optional>
      <ref name="math.datatype"/>
    </interleave>
  </define>

  <define name="listOfEvents.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="event">
          <ref name="event.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="trigger.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <ref name="math.datatype"/>
    </interleave>
    <attribute name="initialValue">
      <data type="boolean"/>
    </attribute>
    <attribute name="persistent">
      <data type="boolean"/>
    </attribute>
  </define>

  <define name="delay.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <ref name="math.datatype"/>
    </interleave>
  </define>

  <define name="priority.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <ref name="math.datatype"/>
    </interleave>
  </define>
  
  <define name="event.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <element name="trigger">
        <ref name="trigger.datatype"/>
      </element>
      <optional>
        <element name="delay">
          <ref name="delay.datatype"/>
        </element>      
      </optional>
      <optional>
        <element name="priority">
          <ref name="priority.datatype"/>
        </element>       
      </optional>
      <optional>
        <element name="listOfEventAssignments">
          <ref name="listOfEventAssignments.datatype"/>
        </element>
      </optional>
    </interleave>
    <optional>
      <attribute name="id">
        <ref name="SId.simpleType"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="name">
        <data type="string"/>
      </attribute>
    </optional>
    <attribute name="useValuesFromTriggerTime">
      <data type="boolean"/>
    </attribute>
  </define>

  <define name="listOfEventAssignments.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="eventAssignment">
          <ref name="eventAssignment.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="eventAssignment.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <ref name="math.datatype"/>
    </interleave>
    <attribute name="variable">
      <ref name="SIdRef.simpleType"/>
    </attribute>
  </define>

</grammar>
