RelaxNG/sbml-multi/sbml-multi.rng

<?xml version="1.0" encoding="UTF-8"?>

<!-- NOTICE * NOTICE * NOTICE * NOTICE * NOTICE * NOTICE * NOTICE
  
   This is not a standalone schema; it is designed with the
   assumption that it is included by a parent schema.  The
   parent schema must define the core SBML Level 3 constructs
   and data types.  Please see the file ../sbml.rng and the
   information written at http://sbml.org/RNG_validation
-->

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  xmlns:multi="http://www.sbml.org/sbml/level3/version1/multi/version1">

  <!-- simple types -->

  <define name="BindingStatus.simpleType">
    <choice>
      <value type="string">bound</value>
      <value type="string">unbound</value>
      <value type="string">either</value>
    </choice>
  </define>

  <define name="Relation.simpleType">
    <choice>
      <value type="string">and</value>
      <value type="string">or</value>
      <value type="string">not</value>
    </choice>
  </define>

  <define name="RepresentationType.simpleType">
    <choice>
      <value type="string">sum</value>
      <value type="string">numericValue</value>
    </choice>
  </define>

  <!-- basic classes -->

  <!-- possibleSpeciesFeatureValue  -->
  <define name="possibleSpeciesFeatureValue.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="multi:id">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="multi:name">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="multi:numericValue">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>
    </interleave>
  </define>
  
  <!-- SpeciesFeatureValue  -->
  <define name="speciesFeatureValue.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="multi:value">
        <ref name="SIdRef.simpleType"/>
      </attribute>     
    </interleave>
  </define>
  
  <!-- compartmentReference -->
  <define name="listOfCompartmentReferences.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="multi:compartmentReference">
          <ref name="compartmentReference.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="compartmentReference.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <attribute name="multi:id">
          <ref name="SId.simpleType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="multi:name">
          <data type="string"/>
        </attribute>
      </optional>
      <attribute name="multi:compartment">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </interleave>
  </define>

  <!-- speciesTypeInstance -->
  <define name="listOfSpeciesTypeInstances.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="multi:speciesTypeInstance">
          <ref name="speciesTypeInstance.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="speciesTypeInstance.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="multi:id">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="multi:name">
          <data type="string"/>
        </attribute>
      </optional>
      <attribute name="multi:speciesType">
        <ref name="SIdRef.simpleType"/>
      </attribute>
      <optional>
        <attribute name="multi:compartmentReference">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>
      <attribute name="multi:occur">
        <data type="positiveInteger"/>
      </attribute>
    </interleave>
  </define>

  <!-- inSpeciesTypeBond -->
  <define name="listOfInSpeciesTypeBonds.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="multi:inSpeciesTypeBond">
          <ref name="inSpeciesTypeBond.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="inSpeciesTypeBond.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <attribute name="multi:id">
          <ref name="SId.simpleType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="multi:name">
          <data type="string"/>
        </attribute>
      </optional>
      <attribute name="multi:bindingSite1">
        <ref name="SIdRef.simpleType"/>
      </attribute>
      <attribute name="multi:bindingSite2">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </interleave>
  </define>

  <!-- denotedSpeciesTypeComponentIndex -->
  <define name="listOfDenotedSpeciesTypeComponentIndexes.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="multi:denotedSpeciesTypeComponentIndex">
          <ref name="denotedSpeciesTypeComponentIndex.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="denotedSpeciesTypeComponentIndex.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="multi:speciesTypeComponentIndex">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </interleave>
  </define>

  <!-- outwardBindingSite -->
  <define name="listOfOutwardBindingSites.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="multi:outwardBindingSite">
          <ref name="outwardBindingSite.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>
  
  <define name="outwardBindingSite.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="multi:bindingStatus">
        <ref name="BindingStatus.simpleType"/>
      </attribute>
      <attribute name="multi:component">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </interleave>
  </define>
  
  <!-- speciesFeatureChange -->
  <define name="listOfSpeciesFeatureChanges.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="multi:speciesFeatureChange">
          <ref name="speciesFeatureChange.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>
  
  <define name="speciesFeatureChange.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <attribute name="multi:id">
          <ref name="SId.simpleType"/>
        </attribute>
      </optional>
      <attribute name="multi:reactantSpeciesFeature">
        <ref name="SIdRef.simpleType"/>
      </attribute>
      <attribute name="multi:productSpeciesFeature">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </interleave>
  </define>
  
  <!-- more complex classes -->

  <!-- speciesFeatureType -->
  <define name="listOfSpeciesFeatureTypes.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="multi:speciesFeatureType">
          <ref name="speciesFeatureType.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="speciesFeatureType.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="multi:possibleSpeciesFeatureValue">
          <ref name="possibleSpeciesFeatureValue.datatype"/>
        </element>
      </oneOrMore>
      <attribute name="multi:id">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="multi:name">
          <data type="string"/>
        </attribute>
      </optional>
      <attribute name="multi:occur">
        <data type="positiveInteger"/>
      </attribute>
    </interleave>
  </define>

  <!-- speciesTypeComponentIndex -->
  <define name="listOfSpeciesTypeComponentIndexes.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="multi:speciesTypeComponentIndex">
          <ref name="speciesTypeComponentIndex.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="speciesTypeComponentIndex.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <element name="multi:listOfDenotedSpeciesTypeComponentIndexes">
          <ref name="listOfDenotedSpeciesTypeComponentIndexes.datatype"/>
        </element>
      </optional>
      <attribute name="multi:id">
        <ref name="SId.simpleType"/>
      </attribute>
      <attribute name="multi:component">
        <ref name="SIdRef.simpleType"/>
      </attribute>
      <optional>
        <attribute name="multi:identifyingParent">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>
      <attribute name="multi:occur">
        <data type="positiveInteger"/>
      </attribute>
    </interleave>
  </define>

  <!-- speciesFeature -->
  <define name="listOfSpeciesFeatures.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <zeroOrMore>
        <element name="multi:speciesFeature">
          <ref name="speciesFeature.datatype"/>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="multi:subListOfSpeciesFeatures">
          <ref name="listOfSpeciesFeatures.datatype"/>
        </element>
      </zeroOrMore>
      <optional>
        <attribute name="multi:relation">
          <ref name="Relation.simpleType"/>
        </attribute>
      </optional>
    </interleave>
  </define>
  
  <define name="speciesFeature.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="multi:speciesFeatureValue">
          <ref name="speciesFeatureValue.datatype"/>
        </element>
      </oneOrMore>      
      <optional>
        <attribute name="multi:id">
          <ref name="SId.simpleType"/>
        </attribute>
      </optional>      
      <attribute name="multi:speciesFeatureType">
        <ref name="SIdRef.simpleType"/>
      </attribute>
      <attribute name="multi:occur">
        <data type="positiveInteger"/>
      </attribute>
      <optional>
        <attribute name="multi:component">
        <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>
    </interleave>
  </define>

  <!-- speciesTypeComponentMapInProduct -->
  <define name="listOfSpeciesTypeComponentMapsInProduct.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="multi:speciesTypeComponentMapInProduct">
          <ref name="speciesTypeComponentMapInProduct.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>
  
  <define name="speciesTypeComponentMapInProduct.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <element name="multi:listOfSpeciesFeatureChanges">
          <ref name="listOfSpeciesFeatureChanges.datatype"/>
        </element>
      </optional>
      <attribute name="multi:reactant">
        <ref name="SIdRef.simpleType"/>
      </attribute>
      <attribute name="multi:reactantComponent">
        <ref name="SIdRef.simpleType"/>
      </attribute>
      <attribute name="multi:productComponent">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </interleave>
  </define>
  
  <!-- new top level classes  -->
  
  <!-- speciesType -->
  <define name="listOfSpeciesTypes.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="multi:speciesType">
          <ref name="speciesType.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="speciesType.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <element name="multi:listOfSpeciesFeatureTypes">
          <ref name="listOfSpeciesFeatureTypes.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="multi:listOfSpeciesTypeInstances">
          <ref name="listOfSpeciesTypeInstances.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="multi:listOfSpeciesTypeComponentIndexes">
          <ref name="listOfSpeciesTypeComponentIndexes.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="multi:listOfInSpeciesTypeBonds">
          <ref name="listOfInSpeciesTypeBonds.datatype"/>
        </element>
      </optional>
      <attribute name="multi:id">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="multi:name">
          <data type="string"/>
        </attribute>
      </optional>
      <attribute name="multi:isBindingSite">
        <data type="boolean"/>
      </attribute>
      <optional>
        <attribute name="multi:compartment">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>
    </interleave>
  </define>

  <!-- extensions to core classes -->

  <!-- extend the sbml compartment; add a listOfCompartmentReferences -->
  <define name="compartment.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="multi:listOfCompartmentReferences">
          <ref name="listOfCompartmentReferences.datatype"/>
        </element>
      </optional>
      <optional>
        <attribute name="multi:compartmentType">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>
      <attribute name="multi:isType">
        <data type="boolean"/>
      </attribute>
    </interleave>
  </define>

  <!-- extend the sbml species -->
  <define name="species.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="multi:listOfOutwardBindingSites">
          <ref name="listOfOutwardBindingSites.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="multi:listOfSpeciesFeatures">
          <ref name="listOfSpeciesFeatures.datatype"/>
        </element>
      </optional>
      <optional>
        <attribute name="multi:speciesType">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>      
    </interleave>
  </define>
  
  <!-- extend the sbml reaction -->
  <define name="reaction.datatype" combine="interleave">
    <interleave>    
      <optional>
        <attribute name="multi:isIntraSpeciesReaction">
          <data type="boolean"/>
        </attribute>
      </optional>      
    </interleave>
  </define>
  
  <!-- extend the sbml simpleSpeciesReference -->
  <define name="simpleSpeciesReference.datatype" combine="interleave">
    <interleave>    
      <optional>
        <attribute name="multi:compartmentReference">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>      
    </interleave>
  </define>
  
  <!-- extend the sbml speciesReference -->
  <define name="productSpeciesReference.datatype" combine="interleave">
    <interleave>    
      <optional>
        <element name="multi:listOfSpeciesTypeComponentMapsInProduct">
          <ref name="listOfSpeciesTypeComponentMapsInProduct.datatype"/>
        </element>
      </optional>      
    </interleave>
  </define>
  
  <define name="reactantSpeciesReference.datatype" combine="interleave">
    <interleave>    
      <optional>
        <element name="multi:listOfSpeciesTypeComponentMapsInProduct">
          <ref name="listOfSpeciesTypeComponentMapsInProduct.datatype"/>
        </element>
      </optional>      
    </interleave>
  </define>
  
  <!-- extend the sbml model; add a listOfSpeciesTypes -->
  <define name="model.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="multi:listOfSpeciesTypes">
          <ref name="listOfSpeciesTypes.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>


  <!-- extended sbml element  -->
  <define name="sbml.datatype" combine="interleave">
    <!-- the "required" attribute should be set to true when layout is required for the interpretation of this SBML document.
      given the nature of the SBML-multi package, this attribute will usually be true -->
    <attribute name="multi:required">
      <data type="boolean"/>
    </attribute>
  </define>

</grammar>
