RelaxNG/sbml-multi/sbml-multi.rng

<?xml version="1.0" encoding="UTF-8"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  ns="http://www.sbml.org/sbml/level3/version1/multi/version1"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <!-- additional simple types -->
  <define name="BondOccurence.simpleType">
    <choice>
      <value type="string">prohibited</value>
      <value type="string">allowed</value>
      <value type="string">required</value>
    </choice>
  </define>


  <!-- The following is the type definition for the top-level element in an SBML document.-->

  <define name="sbml.datatype" combine="interleave">
    <!-- MUST PUT ns -->
    <attribute name="required" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
      <data type="boolean"/>
    </attribute>
  </define>

  <!-- Definition of speciesType  -->
  <define name="possibleValue.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="id" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="name" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
          <data type="string"/>
        </attribute>
      </optional>
    </interleave>
  </define>

  <define name="listOfPossibleValues.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="possibleValue">
          <ref name="possibleValue.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="stateFeature.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <element name="listOfPossibleValues">
          <ref name="listOfPossibleValues.datatype"/>
        </element>
      </optional>
      <attribute name="id" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="name" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
          <data type="string"/>
        </attribute>
      </optional>
    </interleave>
  </define>

  <define name="listOfStateFeatures.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="stateFeature">
          <ref name="stateFeature.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="speciesType.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <element name="listOfStateFeatures">
          <ref name="listOfStateFeatures.datatype"/>
        </element>
      </optional>
      <attribute name="id" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="name" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
          <data type="string"/>
        </attribute>
      </optional>
      <attribute name="bindingSite" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <data type="boolean"/>
      </attribute>
    </interleave>
  </define>

  <define name="listOfSpeciesTypes.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="speciesType">
          <ref name="speciesType.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <!--  Definition of Bond -->
  <define name="bindingSiteReference.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="speciesTypeState"
        ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </interleave>
  </define>

  <define name="bond.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="occurrence" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="BondOccurence.simpleType"/>
      </attribute>
      <oneOrMore>
        <element name="bindingSiteReference">
          <ref name="bindingSiteReference.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="listOfBonds.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="bond">
          <ref name="bond.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="listOfUnboundBindingSites.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="bindingSiteReference">
          <ref name="bindingSiteReference.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <!-- Definition of speciesTypeStates -->

  <define name="stateFeatureValue.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="possibleValue" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </interleave>
  </define>

  <define name="listOfStateFeatureValues.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="stateFeatureValue">
          <ref name="stateFeatureValue.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="stateFeatureInstance.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="stateFeature" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SIdRef.simpleType"/>
      </attribute>
      <attribute name="id" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="name" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <element name="listOfStateFeatureValues">
          <ref name="listOfStateFeatureValues.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="listOfStateFeatureInstances.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="stateFeatureInstance">
          <ref name="stateFeatureInstance.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="containedSpeciesType.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="speciesTypeState"
        ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </interleave>
  </define>

  <define name="listOfContainedSpeciesTypes.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="containedSpeciesType">
          <ref name="containedSpeciesType.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="speciesTypeState.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="speciesType" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SIdRef.simpleType"/>
      </attribute>
      <attribute name="id" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="name" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
          <data type="string"/>
        </attribute>
      </optional>
      <attribute name="minOccur" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <data type="nonNegativeInteger"/>
      </attribute>
      <attribute name="maxOccur" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <data type="nonNegativeInteger"/>
      </attribute>
      <attribute name="connex" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <data type="boolean"/>
      </attribute>
      <attribute name="saturated" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <data type="boolean"/>
      </attribute>
      <optional>
        <element name="listOfStateFeatureInstances">
          <ref name="listOfStateFeatureInstances.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfContainedSpeciesTypes">
          <ref name="listOfContainedSpeciesTypes.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="listOfSpeciesTypeStates.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="speciesTypeState">
          <ref name="speciesTypeState.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <!-- Definition of selector -->


  <define name="selector.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <element name="listOfSpeciesTypeStates">
          <ref name="listOfSpeciesTypeStates.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfBonds">
          <ref name="listOfBonds.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfUnboundBindingSites">
          <ref name="listOfUnboundBindingSites.datatype"/>
        </element>
      </optional>
      <attribute name="id" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="name" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
          <data type="string"/>
        </attribute>
      </optional>

    </interleave>
  </define>

  <define name="listOfSelectors.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="selector">
          <ref name="selector.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <!-- Definition of speciesTypeInstance -->
  <define name="selectorReference.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="negation" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <data type="boolean"/>
      </attribute>
      <attribute name="selector" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SIdRef.simpleType"/>
      </attribute>
    </interleave>
  </define>

  <define name="listOfSelectorReferences.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="selectorReference">
          <ref name="selectorReference.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="speciesTypeInstance.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <element name="listOfSelectorReferences">
          <ref name="listOfSelectorReferences.datatype"/>
        </element>
      </optional>
      <attribute name="id" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="name" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="initialAmount" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
          <data type="double"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="initialConcentration"
          ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
          <data type="double"/>
        </attribute>
      </optional>
    </interleave>
  </define>

  <define name="listOfSpeciesTypeInstances.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="speciesTypeInstance">
          <ref name="speciesTypeInstance.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

<!-- Definition of speciesTypeInstanceChange -->
  <define name="speciesTypeInstanceChange.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <ref name="math.datatype"/>
    </interleave>
    <attribute name="speciesTypeInstance" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
      <ref name="SId.simpleType"/>
    </attribute>
  </define>
  
  <!-- Definition of SpeciesTypeRestrictions -->
  <define name="speciesTypeRestriction.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="id" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SId.simpleType"/>
      </attribute>
       <attribute name="speciesTypeInstance" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
         <ref name="SIdRef.simpleType"/>
      </attribute>
    </interleave>
  </define>
  
  <define name="listOfSpeciesTypeRestrictions.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="speciesTypeRestriction">
          <ref name="speciesTypeRestriction.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>
  
  <define name="speciesTypeRestrictionReference.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="speciesTypeRestriction" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
          <ref name="SIdRef.simpleType"/>
        </attribute>   
    </interleave>
  </define>
  
  <!-- Definition of ReactionsRules -->

  <define name="listOfConditions.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="speciesTypeRestrictionReference">
          <ref name="speciesTypeRestrictionReference.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>
  
  <define name="listOfResults.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="speciesTypeRestrictionReference">
          <ref name="speciesTypeRestrictionReference.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>
  
  <define name="reactionRule.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="id" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="name" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <element name="listOfConditions">
          <ref name="listOfConditions.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfResults">
          <ref name="listOfResults.datatype"/>
        </element>
      </optional>      
      <optional>
        <element name="kineticLaw" ns="http://www.sbml.org/sbml/level3/version1/core">
          <ref name="kineticLaw.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>
  
  <define name="listOfReactionRules.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="reactionRule">
          <ref name="reactionRule.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>
  
  <!-- ProductSpeciesReference -->
  <!-- Extended speciesReference --> 
  <define name="reactantSpeciesReference.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="listOfSpeciesTypeRestrictions">
          <ref name="listOfSpeciesTypeRestrictions.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="productSpeciesReference.datatype" combine="interleave">
    <interleave>
      <optional>
        <attribute name="correspondingReactant" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>
      <optional>
        <element name="listOfSpeciesTypeRestrictions">
          <ref name="listOfSpeciesTypeRestrictions.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  
  <!-- Extended model -->
  <define name="model.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="listOfSpeciesTypes">
          <ref name="listOfSpeciesTypes.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfSelectors">
          <ref name="listOfSelectors.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <!-- Extended species -->
  <define name="species.datatype" combine="interleave">
    <interleave>
      <optional>
        <attribute name="speciesType" ns="http://www.sbml.org/sbml/level3/version1/multi/version1">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>
      <optional>
        <element name="listOfSpeciesTypeInstances">
          <ref name="listOfSpeciesTypeInstances.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>
  
 <!-- Extended initialAssignment -->
  <define name="initialAssignment.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="speciesTypeInstanceChange">
          <ref name="speciesTypeInstanceChange.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <!-- Extended rule -->
  <define name="targetedRule.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="speciesTypeInstanceChange">
          <ref name="speciesTypeInstanceChange.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>
  
 <!-- Extended eventAssignment -->
  <define name="eventAssignment.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="speciesTypeInstanceChange">
          <ref name="speciesTypeInstanceChange.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>
 
  <!-- Extended reaction -->
  <define name="reaction.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="listOfReactionRules">
          <ref name="listOfReactionRules.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>
  
</grammar>
