RelaxNG/sbml-spatial/sbml-spatial.rng

<?xml version="1.0" encoding="UTF-8"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  
  <!-- additional simple types -->
  <define name="SpId.simpleType">
    <data type="string">
      <param name="pattern">(_|[a-z]|[A-Z])(_|[a-z]|[A-Z]|[0-9])*</param>
    </data>
  </define>
  
  <define name="SpIdRef.simpleType">
    <ref name="SpId.simpleType"/>
  </define>
  
  
  <!-- The following is the type definition for the top-level element in an SBML document.-->
  
  <define name="sbml.datatype" combine="interleave">
    <!-- MUST PUT ns -->
    <attribute name="required" ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="boolean"/>
      </attribute>
  </define>
  
  
  
  <define name="compartment.datatype" combine="interleave">
    <interleave>
      <element name="compartmentMapping">
        <ref name="compartmentMapping.datatype"/>
      </element>
    </interleave>
  </define>

  <define name="compartmentMapping.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
    </interleave>
    <attribute name="spatialId" ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
      <ref name="SpId.simpleType"/>
    </attribute>
    <attribute name="compartment" ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
      <ref name="SIdRef.simpleType"/>
    </attribute>
    <attribute name="domainType" ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
      <ref name="SpIdRef.simpleType"/>
    </attribute>
    <attribute name="unitSize" ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
      <data type="double"/>
    </attribute>  
  </define>

  <define name="species.datatype" combine="interleave">
    <attribute name="isSpatial"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
      <data type="boolean"/>
    </attribute>
  </define>

  <define name="parameter.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="spatialSymbolReference">
          <ref name="spatialSymbolReference.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="diffusionCoefficient">
          <ref name="diffusionCoefficient.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="advectionCoefficient">
          <ref name="advectionCoefficient.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="boundaryCondition">
          <ref name="boundaryCondition.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>
  
  <define name="spatialSymbolReference.datatype" combine="interleave">
    <interleave>
    <ref name="SBase.datatype"/>
      <attribute name="spatialId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <attribute name="type"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="string"/>
      </attribute>    
    </interleave>
  </define>
  
  <define name="diffusionCoefficient.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="variable"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <optional>
      <attribute name="coordinateIndex"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="nonNegativeInteger"/>
      </attribute>
      </optional>
    </interleave>
  </define>
  
  <define name="advectionCoefficient.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="variable"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <optional>
        <attribute name="coordinateIndex"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
          <data type="nonNegativeInteger"/>
        </attribute>
      </optional>
    </interleave>
  </define>
  
  <define name="boundaryCondition.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="variable"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <attribute name="coordinateBoundary"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <attribute name="type"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="string"/>
      </attribute>  
      <optional>
        <attribute name="boundatDomainType"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
          <ref name="SpIdRef.simpleType"/>
        </attribute>  
      </optional>
    </interleave>
  </define>

  <define name="reaction.datatype" combine="interleave">
    <attribute name="isLocal"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
      <data type="boolean"/>
    </attribute>
  </define>

  <define name="model.datatype" combine="interleave">
    <interleave>
      <element name="geometry">
        <ref name="geometry.datatype"/>
      </element>
    </interleave>
  </define>

  <define name="geometry.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="coordinateSystem"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>
      <optional>
        <element name="listOfCoordinateComponents">
          <ref name="listOfCoordinateComponents.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfDomainTypes">
          <ref name="listOfDomainTypes.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfDomains">
          <ref name="listOfDomains.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfAdjacentDomains">
          <ref name="listOfAdjacentDomains.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfGeometryDefinitions">
          <ref name="listOfGeometryDefinitions.datatype"/>
        </element>
      </optional>
      </interleave>
  </define> 
  
  <define name="listOfCoordinateComponents.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="coordinateComponent">
          <ref name="coordinateComponent.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>
  
  <define name="coordinateComponent.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="spatialId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
        <attribute name="index"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
          <data type="nonNegativeInteger"/>
        </attribute>
      <attribute name="componentType"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="string"/>
      </attribute>    
      <attribute name="sbmlUnit"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="UnitSIdRef.simpleType"/>
      </attribute>   
      <optional>
        <element name="boundaryMin">
          <ref name="boundaryMin.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="boundaryMax">
          <ref name="boundaryMax.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>
  
  <define name="boundaryMin.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="spatialId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <attribute name="value"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="double"/>
      </attribute>
    </interleave>
  </define>

  <define name="boundaryMax.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="spatialId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <attribute name="value"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="double"/>
      </attribute>
    </interleave>
  </define>
  
  <define name="listOfDomainTypes.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="domainType">
          <ref name="domainType.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>
  
  <define name="domainType.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="spatialId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <attribute name="spatialDimensions"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="nonNegativeInteger"/>
      </attribute>
    </interleave>
  </define>

  <define name="listOfDomains.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="domain">
          <ref name="domain.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>
  
  <define name="domain.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="spatialId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <attribute name="domainType"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <attribute name="shapeId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="string"/>
      </attribute>
      <attribute name="implicit"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="boolean"/>
      </attribute>
      <optional>
        <element name="listOfInteriorPoints">
          <ref name="listOfInteriorPoints.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="listOfInteriorPoints.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="interiorPoint">
          <ref name="interiorPoint.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="interiorPoint.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="coord1"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="double"/>
      </attribute>    
      <attribute name="coord2"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="double"/>
      </attribute>
      <attribute name="coord3"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="double"/>
      </attribute>
    </interleave>
  </define>

  <define name="listOfAdjacentDomains.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="adjacentDomains">
          <ref name="adjacentDomain.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>
  
  <define name="adjacentDomain.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="spatialId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpId.simpleType"/>
      </attribute>    
      <attribute name="domain1"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <attribute name="domain2"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>
    </interleave>
  </define>

  <define name="listOfGeometryDefinitions.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <choice>
          <element name="analyticGeometry">
            <ref name="analyticGeometry.datatype"/>
          </element>
          <element name="sampledFieldGeometry">
            <ref name="sampledFieldGeometry.datatype"/>
          </element>
<!--          <element name="csGeometry">
            <ref name="geometryDefinition.datatype"/>
          </element>
          <element name="parametricGeometry">
            <ref name="geometryDefinition.datatype"/>
          </element>
-->        </choice>
      </oneOrMore>
    </interleave>
  </define>
 
  <define name="geometryDefinition.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="spatialId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpId.simpleType"/>
      </attribute>    
    </interleave>
  </define>
  
  <define name="analyticGeometry.datatype" combine="interleave">
    <interleave>
      <ref name="geometryDefinition.datatype"/>
      <optional>
        <element name="listOfAnalyticVolumes">
          <ref name="listOfAnalyticVolumes.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>
  
  <define name="listOfAnalyticVolumes.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="analyticVolume">
          <ref name="analyticVolume.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>    

  <define name="analyticVolume.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <ref name="math.datatype"/>
      <attribute name="spatialId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpId.simpleType"/>
      </attribute>    
      <attribute name="domainType"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <attribute name="functionType"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="string"/>
      </attribute>    
      <attribute name="shapeId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="string"/>
      </attribute>
      <optional>
      <attribute name="ordinal"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="nonNegativeInteger"/>
      </attribute>
        </optional>
    </interleave>
  </define>
  
  <define name="sampledFieldGeometry.datatype" combine="interleave">
    <interleave>
      <ref name="geometryDefinition.datatype"/>
      <optional>
        <element name="listOfSampledVolumes">
          <ref name="listOfSampledVolumes.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="sampledField">
          <ref name="sampledField.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="listOfSampledVolumes.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="sampledVolume">
          <ref name="sampledVolume.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>    
  
  <define name="sampledVolume.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="spatialId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpId.simpleType"/>
      </attribute>    
      <attribute name="domainType"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <attribute name="sampledValue"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="double"/>
      </attribute>    
      <attribute name="minValue"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="double"/>
      </attribute>    
      <attribute name="maxValue"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="double"/>
      </attribute>    
    </interleave>
  </define>
  
  <define name="sampledField.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="spatialId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpId.simpleType"/>
      </attribute>    
      <attribute name="dataType"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="string"/>
      </attribute>    
      <attribute name="interpolationType"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="string"/>
      </attribute>    
      <attribute name="encoding"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="string"/>
      </attribute>    
      <attribute name="numSamples1"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="nonNegativeInteger"/>
      </attribute>    
      <attribute name="numSamples2"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="nonNegativeInteger"/>
      </attribute>    
      <attribute name="numSamples3"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="nonNegativeInteger"/>
      </attribute>    
      <optional>
        <element name="imageData">
          <text/>
        </element>
      </optional>
    </interleave>
  </define>
 
  <define name="parametricGeometry.datatype" combine="interleave">
    <interleave>
      <ref name="geometryDefinition.datatype"/>
      <optional>
        <element name="listOfSpatialPoints">
          <ref name="listOfSpatialPoints.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="listOfObjects">
          <ref name="listOfObjects.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="listOfSpatialPoints.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="spatialPoint">
          <ref name="spatialPoint.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>    
  
  <define name="spatialPoint.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="spatialId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpId.simpleType"/>
      </attribute>    
      <attribute name="domain"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <attribute name="coord1"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="double"/>
      </attribute>    
      <attribute name="coord2"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="double"/>
      </attribute>
      <attribute name="coord3"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="double"/>
      </attribute>
    </interleave>
  </define>
  
  
  <define name="listOfObjects.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="parametricObject">
          <ref name="parametricObject.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>    
  
  <define name="parametricObject.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="spatialId"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpId.simpleType"/>
      </attribute>    
      <attribute name="domain"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <ref name="SpIdRef.simpleType"/>
      </attribute>    
      <attribute name="polygonType"  ns="http://www.sbml.org/sbml/level3/version1/spatial/version1">
        <data type="string"/>
      </attribute>    
      <optional>
        <element name="polygonObject">
          <text/>
        </element>
      </optional>
    </interleave>
  </define>

</grammar>
