RelaxNG/sbml-arrays/mml-arrays.rng

<?xml version="1.0" encoding="UTF-8"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
 datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

 <define name="selector.datatype">
  <ref name="mathml_attrib"/>
 </define>

 <define name="functions" combine="choice">
  <choice>
   <element name="selector">
    <ref name="selector.datatype"></ref>
   </element>
  </choice>
 </define>
 
</grammar>
