RelaxNG/sbml-layout/sbml-layout.rng

<?xml version="1.0" encoding="UTF-8"?>

<!-- NOTICE * NOTICE * NOTICE * NOTICE * NOTICE * NOTICE * NOTICE
  
   This is not a standalone schema; it is designed with the
   assumption that it is included by a parent schema.  The
   parent schema must define the core SBML Level 3 constructs
   and data types.  Please see the file ../sbml.rng and the
   information written at http://sbml.org/RNG_validation
-->

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
 datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
 xmlns:layout="http://www.sbml.org/sbml/level3/version1/layout/version1"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <define name="sbml.datatype" combine="interleave">
    <!-- the "required" attribute should be set to true when layout is required for the interpretation of this SBML document.
	given the nature of the SBML-layout package, this attribute will usually be false -->
    <attribute name="layout:required" >
      <data type="boolean"/>
    </attribute>
  </define>

  <!-- extend the sbml model definition; add a listOfLayouts -->
  <define name="model.datatype" combine="interleave">
    <interleave>
      <optional>
        <element name="layout:listOfLayouts">
          <ref name="listOfLayouts.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="listOfLayouts.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="layout:layout">
          <ref name="layout.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="layout.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
	  <element name="layout:dimensions">
	    <ref name="dimensions.datatype"/>
	  </element>
      <attribute name="layout:id">
        <ref name="SId.simpleType"/>
      </attribute>      
      <optional>
        <element name="layout:listOfCompartmentGlyphs">
          <ref name="listOfCompartmentGlyphs.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="layout:listOfSpeciesGlyphs">
          <ref name="listOfSpeciesGlyphs.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="layout:listOfReactionGlyphs">
          <ref name="listOfReactionGlyphs.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="layout:listOfTextGlyphs">
          <ref name="listOfTextGlyphs.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="layout:listOfAdditionalGraphicalObjects">
          <ref name="listOfAdditionalGraphicalObjects.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="dimensions.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
	  <optional>
        <attribute name="layout:id">
          <ref name="SId.simpleType"/>
        </attribute>
	  </optional>
	  <attribute name="layout:width">
		<data type="double"/>
	  </attribute>
	  <attribute name="layout:height">
		<data type="double"/>
	  </attribute>
	  <optional>
	    <attribute name="layout:depth">
		  <data type="double"/>
	    </attribute>
	  </optional>	
    </interleave>
  </define>

  <define name="point.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
	  <optional>
        <attribute name="layout:id">
          <ref name="SId.simpleType"/>
        </attribute>
	  </optional>
	  <attribute name="layout:x">
		<data type="double"/>
	  </attribute>
	  <attribute name="layout:y">
		<data type="double"/>
	  </attribute>
	  <optional>
	    <attribute name="layout:z">
		  <data type="double"/>
	    </attribute>
	  </optional>	
    </interleave>
  </define>

  <define name="boundingBox.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <optional>
        <attribute name="layout:id">
          <ref name="SId.simpleType"/>
        </attribute>
      </optional>
      <element name="layout:position">
        <ref name="point.datatype"/>
      </element>
      <element name="layout:dimensions">
        <ref name="dimensions.datatype"/>
      </element>	  
    </interleave>
  </define>

  <define name="graphicalObjectBB.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
        <attribute name="layout:id">
          <ref name="SId.simpleType"/>
        </attribute>
      <optional>
        <attribute name="layout:metaidRef">
          <ref name="SId.simpleType"/>
        </attribute>
      </optional>
      <element name="layout:boundingBox">
        <ref name="boundingBox.datatype"/>
      </element>
    </interleave>
  </define>
  
  <define name="graphicalObjectCurve.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="layout:id">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="layout:metaidRef">
          <ref name="SId.simpleType"/>
        </attribute>
      </optional>
      <element name="layout:curve">
        <ref name="curve.datatype"/>
      </element>
    </interleave>
  </define>
  
  <define name="graphicalObjectBBandC.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <attribute name="layout:id">
        <ref name="SId.simpleType"/>
      </attribute>
      <optional>
        <attribute name="layout:metaidRef">
          <ref name="SId.simpleType"/>
        </attribute>
      </optional>
      <element name="layout:boundingBox">
        <ref name="boundingBox.datatype"/>
      </element>
      <element name="layout:curve">
        <ref name="curve.datatype"/>
      </element>
    </interleave>
  </define>


  <define name="graphicalObject.datatype" combine="interleave">
      <choice>
        <ref name="graphicalObjectBB.datatype"/>
        <ref name="graphicalObjectCurve.datatype"/>
        <ref name="graphicalObjectBBandC.datatype"/>
      </choice>
        
  </define> 
  
  <define name="listOfCompartmentGlyphs.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="layout:compartmentGlyph">
          <ref name="compartmentGlyph.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="compartmentGlyph.datatype" combine="interleave">
    <interleave>
      <ref name="graphicalObjectBB.datatype"/>
	  <optional>
        <attribute name="layout:compartment">
          <ref name="SIdRef.simpleType"/>
        </attribute>
	  </optional>
    </interleave>
  </define>

  <define name="listOfSpeciesGlyphs.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="layout:speciesGlyph">
          <ref name="speciesGlyph.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="speciesGlyph.datatype" combine="interleave">
    <interleave>
      <ref name="graphicalObjectBB.datatype"/>
	  <optional>
        <attribute name="layout:species">
          <ref name="SIdRef.simpleType"/>
        </attribute>
	  </optional>
    </interleave>
  </define>

  <define name="listOfReactionGlyphs.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="layout:reactionGlyph">
          <ref name="reactionGlyph.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="reactionGlyph.datatype" combine="interleave">
    <interleave>
      <ref name="graphicalObject.datatype"/>
	  <optional>
        <attribute name="layout:reaction">
          <ref name="SIdRef.simpleType"/>
        </attribute>
	  </optional>
      <optional>
        <element name="layout:listOfSpeciesReferenceGlyphs">
          <ref name="listOfSpeciesReferenceGlyphs.datatype"/>
        </element>
      </optional>
    </interleave>
  </define>

  <define name="curve.datatype" combine="interleave">
    <interleave>
      <element name="layout:listOfCurveSegments">
        <ref name="listOfLineSegments.datatype"/>
      </element>
    </interleave>
  </define>

  <define name="xsiType.simpleType">
    <choice>
      <value type="string">LineSegment</value>
      <value type="string">CubicBezier</value>
    </choice>
  </define>

  <define name="listOfLineSegments.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="layout:curveSegment">
          <ref name="cubicBezier.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="lineSegment.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <element name="layout:start">
        <ref name="point.datatype"/>
      </element>
      <element name="layout:end">
        <ref name="point.datatype"/>
      </element>
    </interleave>
  </define>

  <define name="cubicBezier.datatype" combine="interleave">
    <interleave>
      <ref name="lineSegment.datatype"/>
         <attribute name="xsi:type">
          <ref name="xsiType.simpleType"/>
         </attribute>
      <optional>
        <element name="layout:basePoint1">
          <ref name="point.datatype"/>
        </element>
	  </optional>
	  <optional>
        <element name="layout:basePoint2">
          <ref name="point.datatype"/>
        </element>
	  </optional>
    </interleave>
  </define>

  <define name="SpeciesRefGlyphRole.simpleType">
    <choice>
      <value type="string">undefined</value>
      <value type="string">substrate</value>
      <value type="string">product</value>
      <value type="string">sidesubstrate</value>
      <value type="string">sideproduct</value>
      <value type="string">modifier</value>
      <value type="string">activator</value>
      <value type="string">inhibitor</value>
    </choice>
  </define>
  
  <define name="listOfSpeciesReferenceGlyphs.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="layout:speciesReferenceGlyph">
          <ref name="speciesReferenceGlyph.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="speciesReferenceGlyph.datatype" combine="interleave">
    <interleave>
      <ref name="graphicalObject.datatype"/>
      <attribute name="layout:speciesGlyph">
        <ref name="SIdRef.simpleType"/>
      </attribute>
      <optional>
        <attribute name="layout:speciesReference">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>
      <optional> 
        <attribute name="layout:role">
          <ref name="SpeciesRefGlyphRole.simpleType"/>
        </attribute>
      </optional>
    </interleave>
  </define>

  <define name="listOfTextGlyphs.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="layout:textGlyph">
          <ref name="textGlyph.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>

  <define name="textGlyph.datatype" combine="interleave">
    <interleave>
      <ref name="graphicalObject.datatype"/>
	  <optional>
        <attribute name="layout:graphicalObject">
          <ref name="SIdRef.simpleType"/>
        </attribute>
	  </optional>
	  <optional>
        <attribute name="layout:text">
          <data type="string"/>
        </attribute>
	  </optional>
	  <optional>
        <attribute name="layout:originOfText">
          <ref name="SId.simpleType"/>
		</attribute>
	  </optional>	
    </interleave>
  </define>

  <define name="listOfReferenceGlyphs.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <element name="layout:referenceGlyph">
          <ref name="referenceGlyph.datatype"/>
        </element>
      </oneOrMore>
    </interleave>
  </define>
  
  <define name="referenceGlyph.datatype" combine="interleave">
    <interleave>
      <ref name="graphicalObject.datatype"/>
      <optional>
        <attribute name="layout:reference">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="layout:glyph">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="layout:role">
          <data type="string"/>
        </attribute>
      </optional>	
    </interleave>
  </define>
  
  <define name="generalGlyph.datatype" combine="interleave">
    <interleave>
      <ref name="graphicalObject.datatype"/>
      <optional>
        <element name="layout:listOfReferenceGlyphs">
          <ref name="listOfReferenceGlyphs.datatype"/>
        </element>
      </optional>
      <optional>
        <element name="layout:listOfSubGlyphs">
          <ref name="listOfAdditionalGraphicalObjects.datatype"/>
        </element>
      </optional>
      <optional>
        <attribute name="layout:reference">
          <ref name="SIdRef.simpleType"/>
        </attribute>
      </optional>
    </interleave>
  </define>
 
  <define name="listOfAdditionalGraphicalObjects.datatype" combine="interleave">
    <interleave>
      <ref name="SBase.datatype"/>
      <oneOrMore>
        <choice>
        <element name="layout:additionalGlyph">
          <ref name="graphicalObject.datatype"/>
        </element>
        <element name="layout:generalGlyph">
          <ref name="generalGlyph.datatype"/>
        </element>
          </choice>
      </oneOrMore>
    </interleave>
  </define>

</grammar>
