RelaxNG/sbml-distrib/sbml-distrib.rng

<?xml version="1.0" encoding="UTF-8"?>

<!-- current schema reflects Groups Proposal Updated (2012-06) -->

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  ns="http://www.sbml.org/sbml/level3/version1/distrib/version1"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  
  
  <!-- The following is the type definition for the top-level element in an SBML document.-->
  
  <define name="sbml.datatype" combine="interleave">
    <!-- MUST PUT ns -->
    <attribute name="required" ns="http://www.sbml.org/sbml/level3/version1/distrib/version1">
        <data type="boolean"/>
      </attribute>
  </define>
  
  <define name="functionDefinition.datatype" combine="interleave">
    <optional>
      <attribute name="function" ns="http://www.sbml.org/sbml/level3/version1/distrib/version1">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="explicit" ns="http://www.sbml.org/sbml/level3/version1/distrib/version1">
        <data type="boolean"/>
      </attribute>
    </optional>
  </define>
  

  
  
  
  
  
  
  
  
  
  
</grammar>
